
      html, body {
    //    overflow:hidden;
      }
      circle {
        stroke: #5554;
        stroke-width: 2px;
        opacity: .8;
      }
      circle:hover {
        stroke:#000;
        opacity:1;
      }
      .btn-group {
        margin-left: 330px;
      }
      .label {
        font-size: 7px;
        fill: blue;
      }
      .color-legend {
        min-height: 100%; 
        min-height: 100vh; 

        display: flex;
        align-items: center;

        height:34px; font-weight:bold; text-align:center; color:blue;
        text-shadow: 2px 2px #333;
      }
      .poweredby {
        width:350px;
        height:67px;
        position:absolute;
        bottom:0;
        right:0;
        z-index:1000;
        background:url(img/ondemand.png) no-repeat;
      }
