footer>hr {
  border-top: 1px solid #ccc;
  margin: 0;
}

.org-icon {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  height: 25px;
  line-height: 1;
  position: relative;
  top: 1px;
  width: 30px;
}

.cedia {
  background: rgba(0, 0, 0, 0) url("../../images/cedia.png") no-repeat scroll 0 0 / contain;
}

.ucuenca {
  background: rgba(0, 0, 0, 0) url("../../images/ucuenca.png") no-repeat scroll 0 0 / contain;
}

.dcc {
  background: rgba(0, 0, 0, 0) url("../../images/dcc.png") no-repeat scroll 0 0 / contain;
}

.footer-bottom > .container > h6 {
  line-height: 3;
  font-size: 70%
}
