img.footnote-img-structure{
  width:75%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footnote-text-format{
  font-size: 9px;
  text-align: center;
  padding: 0px
}
