#gbubble-background {
    fill: none;
    pointer-events: all;
}

.gbubble-node .cicle {
    /* fill: #d1e0f3; */
    /*fill: #DCE9BE; */
    fill: #98FB35;
    stroke: #555;
    stroke-width: 4px;
    opacity: .2;

}

.gbubble-node .cicle:hover {
    /* fill: #d1e0f3; */
    /*fill: #DCE9BE; */

}


#gcircle {
   stroke: #555;
    stroke-width: 2px;
    opacity: .7;
    fill: #F7EF07;

}
#gcircle:hover {
    stroke:#000;
    opacity:5;

}


.gbubble-hover {
    /* fill: #b8c7d9; */
    //fill: #E8E9E7;
}

.gbubble-selected {
    /* fill: #a8c8ee;  */
    fill: #CEE98F;
    /* stroke: #6081a3; */
    stroke: #A6BA92;
    stroke-width: 10.5px;
}

a.gbubble-label {
    font-family: georgia, "times new roman", times, serif;
    color: inherit;
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none;
    line-height: 1em;
    position: absolute;
}

.gbubble-label .gbubble-label-value {
    font: 11px sans-serif;
    white-space: nowrap;
}


