* {
    margin:0px;
    padding:0px;
}
#headerdesplegable {
    margin:auto;
    font-family:Arial, Helvetica, sans-serif;
}
ul, ol {
    list-style:none;
}
.nav.desplegable li a.logoRedi {
    padding: 0px 0px;
}

.nav.desplegable li a.logoRedi:hover {
    background: 000;
}
.nav.desplegable li a.logoRedi:visited {
    background: 000;
    color: 000;
}
.nav.desplegable {
    width:200px; /*Le establecemos un ancho*/
    float: left;
    padding-left: 1%;
    position: relative;
    z-index: 0;
}
.nav.desplegable li a.opcion {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
    opacity: 0.9;
}
.nav.desplegable li a.opcion:hover {
    background-color:#434343;
}
.nav.desplegable li ul {
    display:none;
    position:absolute;
    min-width:140px;
}
.nav.desplegable li:hover > ul {
    display:block;
}
.nav.desplegable li ul li {
    position:relative;
}
.nav.desplegable li ul li ul {
    right:140px;
    top:0px;
}


.relatedauthors{

    cursor:pointer;
    font-size: medium;
    font-style: initial;
    font-family: monospace;
    opacity: none;
}

a.relatedauthors:hover{  
    color: #DDD;
    cursor: pointer;
    text-decoration: none;
    opacity: none;
}
a.relatedauthors:visited{
    color: #2F6FAD;  
}