.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #bbb;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.points circle {
  fill: #fff;
  stroke: red;
  stroke-width: 2px;
}

.points text {
  font: 11px sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.route {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}