#searchForm {
  position: absolute;
  top: 77%;
  margin-right: auto;
  margin-left: auto;
}

.carousel-caption {
  top: 30px;
  bottom: auto;
  height: 376px;
  /*z-index: 10;*/
}

.carousel-indicators {
  margin-bottom: 90px;
}

.carousel-caption>img {
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 20px
}

.carousel-indicators .active {
  background-color: orange;
}

.carousel-indicators li {
  background-color: khaki;
}

.carousel .item {
  height: 550px;
  /*overflow:hidden;*/
}

.carousel-inner>.item>img {
  height: 550px;
}