

.imagesubmit {
    width: 35px;
    height: 35px;
    border-color: #008000;
    border-width: 2px;
}

.buscador{
    padding-top: 0%;
}
.li-buscador{
    padding-left: 0;
    padding-right: 0;
}
li.li-buscador.col-md-1{
    padding-top: 8px;
    text-align: center;
    
    width: 40px;
    height: 40px;
    border-color: #008000;
    border-width: 10px;
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}


.home.transition{
    height: 10px;
    width: 100%;
    background: rgba(0,51,100,1);
    background: -moz-linear-gradient(top, rgba(0,51,100,1) 0%, rgba(249,249,252,0.59) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,51,100,1)), color-stop(100%, rgba(249,249,252,0.59)));
    background: -webkit-linear-gradient(top, rgba(0,51,100,1) 0%, rgba(249,249,252,0.59) 100%);
    background: -o-linear-gradient(top, rgba(0,51,100,1) 0%, rgba(249,249,252,0.59) 100%);
    background: -ms-linear-gradient(top, rgba(0,51,100,1) 0%, rgba(249,249,252,0.59) 100%);
    background: linear-gradient(to bottom, rgba(0,51,100,1) 0%, rgba(249,249,252,0.59) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003364', endColorstr='#f9f9fc', GradientType=0 );

}
