#header {
  /*height: 80vh;*/
  /*background: url(../../images/banner-redi-final.png) no-repeat;*/
  border-bottom: #FFFFFF solid 1px;
 /* position: relative; */
 /* width: 100%; */
  max-height: 1000px;
  background-size: contain;
  background-position: center;

 

  
}


#header .search {
bottom: -45vh;
width: 40vw;
margin-right: 90vw;
}


#searchForm {
top: 0vw;
position: absolute;
z-index: 100;
}

 .mainpage {
 min-height: 40vw;

}

#sectiontwo.mainpage {
 background-color: lightgray;

}

.centered {
text-align: center;

}

.centered > div {
 float: none;
 display: inline-block;
 margin-bottom: 20px;


}

.footnotebar {

background-color: #0083db;
color: white;
min-height: 70px;
display: flex;
align-items: center;
}

.socialshare > div > a > img {
	max-height: 15px;
}

/*style="width:33.3%;float: left;display: flex;align-items: center;justify-content: center;height: 60%;vertical-align: middle;"*/