.dropdown > .dropdown-toggle {
  padding:10px;
}

nav.navbar ul.dropdown-menu {
  font-family: "G-M";
  font-size: 0.8vw;
  

}
.navbar { margin-bottom:0px !important; font-size: 0.8vw; font-family : "G-B"; }
/*.carousel-caption { margin-top:0px !important }*/
.navbar-right {
  margin-right: 0px;
}
.icon-small {
    /*height:25px;*/
    width: 90px;
    height: auto;
    margin:0;
    padding:0;
    background-color: transparent;
    border-color: transparent;
    margin-right:  5px;
}

.icon-xsmall {
  height:18px;
  margin:0;
  padding:0;
  background-color: transparent;
  border-color: transparent;
}

#lang_locale {
  cursor: pointer;
}

#lang_locale a > span {
  padding-right: 25px;
}


.searchbar {
  padding-top: 10px;
}


/*.bordermenu {
border-right: 1px solid gray;
padding-inline: 10px;

}*/

.navbarcolor {
 background-color: #252881;
 color: #0089db;
 margin-top: 35px!important;
 max-width: 100%;
 padding-left: 25px;
 max-height: 65px;
     /*margin-left: -15px;*/
}

 /* Work around for active class in navbar items. It works for dropdown menu */
.navbar-static-top .navbar-nav > .active>a,
.navbar-static-top .navbar-nav > .active>a:focus,
.navbar-static-top .navbar-nav > .active>a:hover,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  color: #fff;
  background-color: #0089db;
  /*background-color: #b2b3b6;*/
}


.nav .open > a {
 background-color: #0089db;
}

.nav > li > a {
 /* color: #4a4d54;*/
 color : white;
}


.navbar-toggle {
  border-color: transparent; /* Removes border color */
}

.navbar-toggle .icon-bar,
.navbar-toggle .icon-bar:hover {
  background-color: #0089db; /*#4a4d54; /* Changes regular toggle color */
}

.navdiv {

  padding-top: 25px;
  padding-bottom: 15px;
  line-height: 20px;
  /*font-family: "Conduit-IT";*/
}
/* Increase point which navbar collapses */
@media (max-width: 841px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
        font-size:0.9vw;

      
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-nav>li>a::after {
        content: "|";
       float: right;
       color: #fff;
    }

  
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

  .navbar-nav>li>a {
     /* background-color: blue;*/
        padding-top: 25px;
       /*font-family: "Conduit-IT";*/
        
    }

   .navbar-nav > li >  a:focus, .navbar-nav > li >  a:hover {
      background-color:   #0089db !important;

    }

    .navbar-nav .dropdown {margin-right: 5px ;
    }
/*
  .navbar-nav>li>a::after {
      content: "|";
      float: right;
      color: black;
    }*/
  
.logo-repo {
    height: 60px;
}
.img-responsive{
  display: block;
    max-width: 100%;
    height: auto;
    margin-left: 2%;
  
}
.socialhead {
    border-radius: 50px;
    border: 1px solid #e6e6e6;
    height: 50px;
    width: 50px;
    text-align: center;
    color: #c3c3c3;
    margin: 5px;
    padding: 18px 10px 10px 10px;
}
.icons-right {
    text-align: right;
    padding-right: 2%;
}
