



.profile  { 
   /*color:#9d9d9c;*/
/*color:  #515a5a  ;*/
color:#788080;
/*background-image: url("/wkhome/images/cedia.png");*/
/*background-image: url("/wkhome/images/logoCedia.PNG");*/
background-image: url("/wkhome/images/Asset.png");

background-repeat: no-repeat;
background-size: 15%;
background-position: 0vw 3vw;

/*background-position: center;*/
/* width: 80vw; */
 width: 99vw;
 font-size: 1vw;
 background-color: #F6F6F6;
 margin-top: 1.5%;


}

.imgProfile {

background-repeat:no-repeat;
background-position: center; 
width: 10vw; height: 10vw; border-radius: 50%; border: 2px solid white; 
background-size: cover;
margin-left: 100px;
margin-top: 10px;
}

.authorData {
   margin-top: 4vh;

}

.coauthor-panel {
  padding: 5%;
  border: 2px;
 /* border: 1px; 
  border-color: #3333cc;*/
  border-color: #c8c8d7;
  border-style: solid;
  margin-right: 10%;
  min-height: 60vh;
  background-image: url("/wkhome/images/manos2.PNG");
  background-size: 65vh;
/*background-color: #6600ff ; */


}

.coauthor-list {
  font-family: "Conduit-IT";
  font-size:  1.1vw;

}

.coauthor-list  a {
  color: white ;
}

 #NameAuthorProfile {

  font-family: "G-M";
  /*font-size: 2.2vw;*/
  color: #0095db;
  line-height: 100%;
}

.coauthor-list { 
 margin : 5%;
 text-align: left;
 border-top-style: solid;
    border-top-width: 1px;
    border-color: white;

 }

.coauthorDiv {
    margin-top: 5%;
}

.listCoauthors  {

  margin-bottom: 5%;
}



#profBtn button {
 height: 9vh;

}

.profbtn {

   min-width: 200px;
 
   height: 9vh;

}

.autprofilem2 > a {
    font-family: G-M;
    color: gray;
    font-size: 1vw;
    line-height: 15px;
}

.bioregion {
 font-family: G-M;
 width: 70%;
 border-top: solid #E94E1B 1px;
 margin-block: 8px;
 border-bottom: solid #E94E1B 1px;
 padding: 2px;
 font-size: 10px;
}

.sublist {
  font-family: G-M;
  font-size: 1vw;
}

  
#pubButton  {
background: url(/wkhome/images/pub.png);
background-repeat: no-repeat;
background-position: 35% 50%;
border-bottom: none;
border-top: none;
border-right-width: 1.5px;
}

#pubButton:hover  {
 /*background: url(/wkhome/images/pubactive.png);
  background-repeat: no-repeat;*/
  background: url(/wkhome/images/pubactive.png);
  background-repeat: no-repeat;
  background-position: 35% 50%;
  border-bottom: none;
  border-top: none;
  border-right-width: 1.5px;
}


#treebtn {
background: url(/wkhome/images/tree.png);
background-repeat: no-repeat;
background-position: 35% 50%;
border-bottom: none;
border-top: none;
border-right-width: 1.5px;
/*border-right-color: #e0d4d4;*/


}

#treebtn:hover  {
 /*background: url(/wkhome/images/pubactive.png);
  background-repeat: no-repeat;*/
  background: url(/wkhome/images/treeactive.png);
  background-repeat: no-repeat;
  background-position: 35% 50%;

  /*text-decoration: underline blue; */
 /* background-color: #F6F6F6;*/


}

#netbtn {
background: url(/wkhome/images/red.png);
background-repeat: no-repeat;
background-position: 35% 50%;
/*border: none;*/
border-bottom: none;
border-top: none;
border-right-width: 1.5px;
}

#netbtn:hover {
background: url(/wkhome/images/redactive.png);
background-repeat: no-repeat;
background-position: 35% 50%;

  
}


#stasbtn {
background: url(/wkhome/images/stats.png);
background-repeat: no-repeat;
background-position: 35% 50%;
/*border: none;*/
border-bottom: none;
border-top: none;
border-right: none;
}

#stasbtn:hover {
background: url(/wkhome/images/stats_active.png);
background-repeat: no-repeat;
background-position: 35% 50%;

  
}

.head-list {
  margin-bottom: 5px;
  color: #252881;
  font-family: "G-M";
  font-size: 1vw;
  border-bottom-style: solid;
  border-color: #E94E1B;
  border-width: 1px;
}

.aditionalInformation {
  margin-top: 1%; 
  min-height:15vh ;
  /* margin-left: 8vh; */
}



.prof-btn span {
margin-left: 4vw;
font-size: 1vw;
font-family: "G-B";
color: #253081;


}

.second-panel {
  margin-top: 2vw;

}

.profileTop {
  min-height: 40vh;
  margin-top: 2vh
}


/*
@font-face { 
  font-family: "Conduit-IT"; 
  src: url("/wkhome/fonts/ConduitITCStd-Italic.otf") format("opentype"); ;  
}

@font-face { 
  font-family: "Conduit-BI"; 
  src: url("/wkhome/fonts/ConduitITCStd-BlackItalic.otf") format("opentype"); ;  
}

@font-face { 
  font-family: "Conduit-EL"; 
  src: url("/wkhome/fonts/ConduitITCStd-ExtraLightIta.otf") format("opentype"); ;  
}*/