.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  font-family: sans-serif;
  font-size: 10px;
}

#legendBox {
  margin-top: 2%;
  

}

.org span {
 background: white;

}

 .badge.leyend span {
background: white;

}

