.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  font-family: sans-serif;
  font-size: 10px;
}

#legendBox {
  margin-top: 2%;
  

}

.org span {
 background: white;

}

 #leyend  {
background: white;

}

/*  subclusterGraph*/

.links_scl line {
  stroke: #c9c3c3;
  stroke-opacity: 0.6;
}

.left-panel-subcl > .element-subcl {

	margin-bottom: 10%;
}

.left-panel-subcl > #legendBox {

	margin-top: 5vh;
}
