/* app css stylesheet */

html{
  background-color:  white;
}

body{
    color:#494d53;
    font-family: G-Book;
    padding-right: 0px !important;
}


h1 {
  font-family: G-Bl;

}

h2 {
 font-family: G-B;
}

h3 {
  font-family: G-M;
}

h4 {
  font-family: G-M;
}

h5 {
  font-family: G-M;
}

p {
  font-family: G-Book;
  color:#494d53;
  text-align: justify;
}


b {
   font-family: G-M;
}

.colorblue {
  color:#252881;
}

.colorcian {
  color:#21C1D2 ;
}



.header {
    width: 100%;
    height: 50px;
    position: relative;
    font-size: 14px;
}

.header h1 {
    margin: 0 auto;
    font-size: 18px;
    font-weight: normal;
}

.header div {
    padding-top: 13px;
    float: left;
}

.header img {
    float: right;
    padding-top: 10px;
}



.left-column
{
float:left;
width:33%;
background-color:red;
height: 100%
}
.right-column
{
float:right;
width:33%;
background-color:green;
height: 100%
}
.center-column
{
margin:auto;
width:34%;
background-color:black;
height: 100%
}

table { empty-cells: show; }




.stats > div {
    height: 60vh;
    /*padding: 0;*/
}

.stats > div:nth-child(odd) {
    /*background: rgb(10, 84, 92);*/
}

.stats > div:nth-child(even) {
    /*background: rgb(5, 57, 63);
    color: aliceblue;*/
}

.subject-cloud > div {
  height: 100vh;
  padding-top: 50px;

}


.main > div {
    height: 100vh;
    /*padding-right: 60px;*/
    /*padding-left: 1em;*/
    box-shadow: 0 -5px 15px rgba(0,0,0,0.6) inset;
}
/*Colores*/
.main > div:nth-child(odd) {
    background: rgb(250, 250, 250);
}
.main > div:nth-child(even) {
    background: white;
    /*color: aliceblue;*/
}

div.body-snap h4 {
    color: #2a3439;
    padding: 5px 15px;
}


      .indicators {
        position: fixed;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 40px;
        height: auto;
        margin: 0;
        padding: 0;
        list-style: none;
        z-index: 1;
      }
      .indicators li {
        line-height: 30px;
      }
      .indicators a {
        display: block;
        text-align: center;
        text-decoration: none;
      }
      .indicators span {
        width: 14px;
        height: 14px;
        background-color: khaki;
        border-radius: 100%;
        display: inline-block;
        vertical-align: middle;
      }
      .indicators .active {
        background: orange;
      }

      @media screen and (min-width: 768px) {
        .indicators {
          right: 11px;
        }
        .indicators li {
          line-height: 22px;
        }
      }/*
      @media screen and (min-width: 1152px) {
        .indicators {
          right: 25px;
        }
      }*/

      .text-success {
          color: #678C03;
      }


.button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}


ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
}

@font-face { 
  font-family: "G-Bl"; 
  src: url("../fonts/Gotham/Gotham-Black.otf") format("opentype"); ;  
}


@font-face { 
  font-family: "G-B"; 
  src: url("../fonts/Gotham/Gotham-Bold.otf") format("opentype"); ;  
}


@font-face { 
  font-family: "G-M"; 
  src: url("../fonts/Gotham/Gotham-Medium.otf") format("opentype"); ;  
}


@font-face { 
  font-family: "G-L"; 
  src: url("../fonts/Gotham/Gotham-Light.otf") format("opentype"); ;  
}

@font-face { 
  font-family: "G-Book"; 
  src: url("../fonts/Gotham/Gotham-Book.otf") format("opentype"); ;  
}




@font-face { 
  font-family: "Conduit-IT"; 
  src: url("../fonts/ConduitITCStd-Italic.otf") format("opentype"); ;  
}


@font-face { 
  font-family: "Conduit-LI"; 
  src: url("../fonts/ConduitITCStd-LightItalic.otf") format("opentype"); ;  
}


@font-face { 
  font-family: "Conduit-ELI"; 
  src: url("../fonts/ConduitITCStd-ExtraLightIta.otf") format("opentype"); ;  
}

@font-face { 
  font-family: "Conduit-BLI"; 
  src: url("../fonts/ConduitITCStd-BlackItalic.otf") format("opentype"); ;  
}


@font-face { 
  font-family: "Conduit-BI"; 
  src: url("../fonts/ConduitITCStd-BoldItalic.otf") format("opentype"); ;  
}

@font-face { 
  font-family: "Conduit-EBI"; 
  src: url("../fonts/ConduitITCStd-ExtraBoldIta.otf") format("opentype"); ;  
}

@font-face { 
  font-family: "Conduit-EL"; 
  src: url("../fonts/ConduitITCStd-ExtraLight.otf") format("opentype"); ;  
}


@font-face { 
  font-family: "Conduit-MI"; 
  src: url("../fonts/ConduitITCStd-MediumItalic.otf") format("opentype"); ;  
}

@font-face { 
  font-family: "MyriadP"; 
  src: url("../fonts/MyriadPro-Regular.otf") format("opentype"); ;  
}


/* REDES SOCIALES*/
.td-easy-social-share a {
  margin: 1px;
}
