/* app css stylesheet */

body {
    /*padding-top: 70px;*/
}

.header {
    /*background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);*/
    width: 100%;
    height: 50px;
    position: relative;
    font-size: 14px;
}

.header h1 {
    /*width: 80%;*/
    margin: 0 auto;
    font-size: 18px;
    font-weight: normal;
    /*color: rgb(186, 186, 186);*/
}

.header div {
    padding-top: 13px;
    float: left;
}

.header img {
    float: right;
    padding-top: 10px;
}

nav.navbar ul.dropdown-menu {
  
}
/*
div.main {
    margin-top: -20px;
}*/

.left-column
{
float:left;
width:33%;
background-color:red;
height: 100%
}
.right-column
{
float:right;
width:33%;
background-color:green;
height: 100%
}
.center-column
{
margin:auto;
width:34%;
background-color:black;
height: 100%
}

.presentation > div {
    height: 50vh;
    /*padding: 0;*/
    background-image: url('../images/fondo2.jpg'); //grey_book2.png*/
    background-color: white;
    /*opacity: 1;*/
}


.middlecontainer{
    height: 50vh;
    /*padding: 0;*/
    //background-image: url('../images/fondo2.jpg'); //grey_book2.png*/
    background-color: #2E9AFE;
    fill: #2E9AFE;
    /*opacity: 1;*/
}

table { empty-cells: show; }

.carousel-caption {
    color: #2a3439;
}

.carousel-inner, .carousel-inner .item {
     height:100%;
}

.carousel-indicators .active{
    background-color: orange;
}

.carousel-caption-text {
    text-align: center;
    color: #337ab7;
}

.carousel-indicators li {
    background-color: khaki;
}

.a > link {
    color: #2a3439;
}

a:link, a:visited {
    color: #2a3439;
    text-decoration: none;
}

a:hover {
    color: white;
}

.stats > div {
    height: 60vh;
    /*padding: 0;*/
}

.stats > div:nth-child(odd) {
    /*background: rgb(10, 84, 92);*/
}

.stats > div:nth-child(even) {
    /*background: rgb(5, 57, 63);
    color: aliceblue;*/
}

.subject-cloud > div {
  height: 100vh;
  padding-top: 50px;

}


.main > div {
    height: 100vh;
    /*padding-right: 60px;*/
    /*padding-left: 1em;*/
    box-shadow: 0 -5px 15px rgba(0,0,0,0.6) inset;
}
/*Colores*/
.main > div:nth-child(odd) {
    background: rgb(250, 250, 250);
}
.main > div:nth-child(even) {
    background: white;
    /*color: aliceblue;*/
}

div.body-snap h4 {
    color: #2a3439;
    padding: 5px 15px;
}
      

      .indicators {
        position: fixed;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 40px;
        height: auto;
        margin: 0;
        padding: 0;
        list-style: none;
        z-index: 1;
      }
      .indicators li {
        line-height: 30px;
      }
      .indicators a {
        display: block;
        text-align: center;
        text-decoration: none;
      }
      .indicators span {
        width: 14px;
        height: 14px;
        background-color: khaki;
        border-radius: 100%;
        display: inline-block;
        vertical-align: middle;
      }
      .indicators .active {
        background: orange;
      }
      
      @media screen and (min-width: 768px) {
        .indicators {
          right: 11px;
        }
        .indicators li {
          line-height: 22px;
        }
      }/*
      @media screen and (min-width: 1152px) {
        .indicators {
          right: 25px;
        }
      }*/
      
      .text-success {
          color: #9dd600;
      }      