<div >
    <br/>
    <h2 style='text-align: center;'>{{'ABOUT'| translate}}</h2>

    <div style="background-color: #FAFAFA">
        <table width="100%" border="0" cellpadding="5" cellspacing="1">
            <tbody>
                <tr>
                    <td width="430px"><h3 style='text-align: left;'>Repositorio Semántico de Investigadores del Ecuador</h3></td>
                    <td align="right"><img src="wkhome/images/logo_wk.png" height="29" width="90"></td>
                </tr>
            </tbody>
        </table>
        <p>Este proyecto de investigación se centra en la detección automática de áreas similares de conocimiento entre los investigadores del Ecuador. Su objetivo es apoyar y fortalecer las estrategias de búsqueda de datos acerca de investigadores, manteniendo un repositorio común de datos. Para ello,  se define e implementa una arquitectura de software que permite realizar una búsqueda eficiente de investigadores acerca de sus publicaciones que estarán al servicio de las universidades miembros de CEDIA, además que permita detectar áreas similares de conocimiento.</p>
        <p>El sistema REDI es el resultado del Proyecto "Repositorio Semántico de Investigadores del Ecuador", y fue creado para que los académicos e investigadores accedan a una gran variedad de servicios orientados a impulsar y facilitar sus labores de enseñanza e investigación. Los servicios de CEDIA apoyan la conectividad, capacitaciones, infraestructura, repositorios, proyectos, colaboración, eventos, financiamiento y publicación de resultados.</p>
    </div>
    <br/>
    <div style="background-color: #ECEFF1;">
        <table width="100%" border="0" cellpadding="5" cellspacing="1">
            <tbody>
                <tr>
                    <td width="60px"><h3 style='text-align: left;'>CEDIA</h3></td>
                    <td align="right"><img src="wkhome/images/logo_cedia.png" height="30" width="115"></td>
                </tr>
            </tbody>
        </table>
        <p>CEDIA, la Red Nacional de Investigación y Educación ecuatoriana, fue creada para estimular, promover  y coordinar -por medio del Proyecto de Redes Avanzadas- el desarrollo de las tecnologías de información y las redes de telecomunicaciones e informática, enfocadas al desarrollo científico, tecnológico, innovador y educativo en el Ecuador.</p>
        <p><div style="background-color: #EFEBE9">
            <p>Este proyecto de investigación se centra en la detección automática de áreas similares de conocimiento entre los investigadores del Ecuador. El proyecto busca apoyar y fortalecer las estrategias de búsqueda de datos acerca de investigadores, manteniendo un repositorio común de datos. Para ello,  se define e implementa una arquitectura de software que permita realizar una búsqueda eficiente de investigadores acerca de sus publicaciones que estarán al servicio de las universidades miembros de CEDIA, además que permita detectar áreas similares de conocimiento.</p>
            <p>El sistema REDI es el resultado del Proyecto "Repositorio Semántico de Investigadores del Ecuador"</p>
        </div> </p>
    </div>
    <br/>

    <div style="background-color: #FFF9C4">
        <table width="100%" border="0" cellpadding="5" cellspacing="1">
            <tbody>
                <tr>
                    <td width="200px"><h3 style='text-align: left;'>Universidad de Cuenca</h3></td>
                    <td align="right"><img src="wkhome/images/logo_UC.png" height="40" width="90"></td>
                </tr>
            </tbody>
        </table>
        <p>La Universidad de Cuenca es una universidad pública, cuya misión es formar profesionales y científicos comprometidos con el mejoramiento de la calidad de vida, en el contexto de la interculturalidad y en armonía con la naturaleza. La Universidad fundamenta en la calidad académica, en la creatividad y en la innovación, su capacidad para responder a los retos científicos y humanos de la época y sociedad regional, nacional e internacional equitativa, solidaria y eficiente.</p>
        <p>La Universidad de Cuenca se proyecta como una institución con reconocimiento nacional e internacional por su excelencia en docencia con investigación y vinculación con la colectividad; comprometida con los planes de desarrollo regional y nacional; que impulsa y lidera un modelo de pensamiento crítico en la sociedad.</p>
    </div>
    <br/>


    <div style="background-color: #DCEDC8">
        <table width="100%" border="0" cellpadding="5" cellspacing="1">
            <tbody>
                <tr>
                    <td width="500px"><h3 style='text-align: left;'>Departamento de Ciencias de la Computación - U. de Cuenca</h3></td>

                </tr>
            </tbody>
        </table><br>
        <p>El Departamento de Ciencias de la Computación - DCC de la Universidad de Cuenca, es la instancia encargada de coordinar el desarrollo de investigación en el campo del conocimiento de las ciencias tecnológicas y computacionales.</p>
        <p>El DCC de la Universidad de Cuenca se desenvuelve en las siguientes dimensiones académicas de acción:</p>
        <ul style="list-style-type:none">
            <li>- Investigación Científica</li><br>
            <li>- Desarrollo Tecnológico y Transferencia</li><br>
            <li>- Educación de Posgrado y fortalecimiento de capacidades</li><br>
        </ul>
    </div>
    <br/>

</div>


<div>

    <h2 style='text-align: left;'>{{'contact'| translate}}</h2>
    <hr>

    <table width="100%" border="0" cellpadding="5" cellspacing="1">
        <tbody>
            <tr style="padding: 2%" >
                <td  width="9%"><strong>Director:</strong></td>
                <td style="padding-left: 2%" width="91%">Ing. Víctor Saquicela, PhD.</td>
            </tr>
            <tr style="padding: 2%" >
                <td   bgcolor="#FFFFFF"><strong>Email:</strong></td>
                <td style="padding-left: 2%"  bgcolor="#FFFFFF">victor.saquicela@ucuenca.edu.ec</td>
            </tr>
            <tr style="padding: 2%" >
                <td  bgcolor="#FFFFFF">&nbsp;</td>
                <td  bgcolor="#FFFFFF">&nbsp;</td>
            </tr>
            <tr style="padding: 2%" >
                <td  width="9%"><strong>Co-Director:</strong></td>
                <td style="padding-left: 2%" width="91%">Ing. Mauricio Espinoza, PhD.</td>
            </tr>
            <tr style="padding: 2%" >
                <td  bgcolor="#FFFFFF"><strong>Email:</strong></td>
                <td style="padding-left: 2%"  bgcolor="#FFFFFF">mauricio.espinoza@ucuenca.edu.ec</td>
            </tr>

            <tr style="padding: 2%" >
                <td bgcolor="#FFFFFF">&nbsp;</td>
                <td bgcolor="#FFFFFF">&nbsp;</td>
            </tr>
            <tr style="padding: 2%" >
                <td bgcolor="#FFFFFF"><strong>{{'developer'| translate}}:</strong></td>
                <td style="padding-left: 2%" bgcolor="#FFFFFF">Ing. Jose Luis Cullcay Mendez</td>
            </tr>
            <tr style="padding: 2%" >
                <td bgcolor="#FFFFFF"><strong>Email:</strong></td>
                <td style="padding-left: 2%" bgcolor="#FFFFFF">jose.cullcay@ucuenca.edu.ec</td>
            </tr>
            <tr style="padding: 2%" >
                <td bgcolor="#FFFFFF">&nbsp;</td>
                <td bgcolor="#FFFFFF">&nbsp;</td>
            </tr>
            <tr style="padding: 2%" >
                <td bgcolor="#FFFFFF"><strong>{{'developer'| translate}}:</strong></td>
                <td style="padding-left: 2%" bgcolor="#FFFFFF">Fernando Sumba</td>
            </tr>
            <tr style="padding: 2%" >
                <td bgcolor="#FFFFFF"><strong>Email:</strong></td>
                <td style="padding-left: 2%" bgcolor="#FFFFFF">freddy.sumbao@ucuenca.ec</td>
            </tr>
            <tr style="padding: 2%" >
                <td bgcolor="#FFFFFF">&nbsp;</td>
                <td bgcolor="#FFFFFF">&nbsp;</td>
            </tr>
            <tr style="padding: 2%" >
                <td  bgcolor="#FFFFFF"><strong>{{'developer'| translate}}:</strong></td>
                <td style="padding-left: 2%"  bgcolor="#FFFFFF">Xavier Sumba</td>
            </tr>
            <tr  style="padding: 2%">
                <td bgcolor="#FFFFFF"><strong>Email:</strong></td>
                <td style="padding-left: 2%" bgcolor="#FFFFFF">xavier.sumba93@ucuenca.ec</td>
            </tr>
            <tr style="padding: 2%">
                <td bgcolor="#FFFFFF">&nbsp;</td>
                <td bgcolor="#FFFFFF">&nbsp;</td>
            </tr>
            <tr style="padding: 2%">
                <td bgcolor="#FFFFFF"><strong>{{'coordinadora'| translate}}:</strong></td>
                <td style="padding-left: 2%" bgcolor="#FFFFFF">Ing. Josefina Siguencia</td>
            </tr>
            <tr style="padding: 2%">
                <td bgcolor="#FFFFFF"><strong>Email:</strong></td>
                <td style="padding-left: 2%" bgcolor="#FFFFFF">josselin.siguencia@cedia.org.ec</td>
            </tr>
        </tbody>
    </table>


</div>
