<div class="container">
    <br/>
    <h2  style='text-align: center;'>{{'ABOUT'| translate}}</h2>
    <br/>
    <div class="col-md-12 instituion-section" >
         <div class="row" style="margin: 2px;">
         <div class="col-md-5"> <h4  style='text-align: left;'>Repositorio Semántico de Investigadores del Ecuador</h4> </div>
         <div class="col-md-7">     
         <div class="text-right">  
         <img src="wkhome/images/logo_redi.png" height="" width="50"> 
         </div>
         </div>
         </div>
        <div class="col-md-12 ptext">
        <p align="justify"> El repositorio Ecuatoriano de Investigadores tiene como propósito brindar información sobre autores, publicaciones y áreas de conocimiento de las IES miembros y no miembros de CEDIA. Uno de los principales objetivos es la detección de investigadores y áreas similares de conocimiento que motiven a un proceso de investigación en conjunto. Se utilizan modelos de visualización que facilitan al usuario la navegación entre diferentes entidades y autores que trabajan en áreas de conocimiento de distinta índole. Los datos cargados en REDI están en constante crecimiento, por tanto, mientras más información tenga la plataforma, mejor será el resultado de detección de áreas similares y descubrimiento de información.</p>
        </div>
    </div>
    <br/>
    <div class="col-md-12 instituion-section" >
        <div class="row" style="margin: 2px;">
         <div class="col-md-5 "> <h4 class="colorcian" >CEDIA</h4> </div>
         <div class="col-md-7">     
         <div class="text-right">  
         <img src="wkhome/images/cedia_logo.png"  width="100">
         </div>
         </div>
         </div>
        <div class="col-md-12 ptext">
        <p align="justify"> Somos la corporación Ecuatoriana para el Desarrollo de la Investigación y la Academia. CEDIA es la Red Nacional de Investigación y Educación Ecuatoriana - RNIE (NREN por sus siglas en inglés) . Promovemos la exploración y resultados de proyectos innovadores que vinculan a instituciones ecuatorianas. Para ello, relacionamos a investigadores, docentes y estudiantes mediante proyectos, concursos e iniciativas de desarrollo científico. De esta manera, se genera un círculo de crecimiento constante entre las institiciones académicas.</p>
   
       
    </div>
    </div>
    <br/>

    <div  class="col-md-12 instituion-section" >
          <div class="row" style="margin:  3px;">
         <div class="col-md-5 align-middle"> <h4 class="colorblue" >Universidad de Cuenca</h4> </div>
         <div class="col-md-7">     
         <div class="text-right">  
         <img src="wkhome/images/logo_UC.png" height="40" width="90">
         </div>
         </div>
         </div>
        <div class="col-md-12 ptext ">
        <p align="justify">La Universidad de Cuenca es una universidad pública, cuya misión es formar profesionales y científicos comprometidos con el mejoramiento de la calidad de vida, en el contexto de la interculturalidad y en armonía con la naturaleza. La Universidad fundamenta en la calidad académica, en la creatividad y en la innovación, su capacidad para responder a los retos científicos y humanos de la época y sociedad regional, nacional e internacional equitativa, solidaria y eficiente. La Universidad de Cuenca se proyecta como una institución con reconocimiento nacional e internacional por su excelencia en docencia con investigación y vinculación con la colectividad; comprometida con los planes de desarrollo regional y nacional; que impulsa y lidera un modelo de pensamiento crítico en la sociedad.</p>
        </div>  
   </div>
    <br/>

    <!--
    <div class="col-md-12 instituion-section" style="background-color: #DCEDC8;">
        <div class="row" style="margin: 2px;">
         <div class="col-md-5"> <h3 class="stitle" style='text-align: left;'>Departamento de Ciencias de la Computación - U. de Cuenca</h3> </div>
         <div class="col-md-7">     
         </div>
         </div>
        <br/>
        <div class="col-md-12 ptext">
        <p>El Departamento de Ciencias de la Computación - DCC de la Universidad de Cuenca, es la instancia encargada de coordinar el desarrollo de investigación en el campo del conocimiento de las ciencias tecnológicas y computacionales.</p>
        <p>El DCC de la Universidad de Cuenca se desenvuelve en las siguientes dimensiones académicas de acción:</p>
        <ul style="list-style-type:none">
            <li>- Investigación Científica</li><br>
            <li>- Desarrollo Tecnológico y Transferencia</li><br>
            <li>- Educación de Posgrado y fortalecimiento de capacidades</li><br>
        </ul>
          </div>
    </div>
  -->
    <br/>

</div>


<div class="container contacto">

    <h3 style='margin-left: 21px;'> COLABORADORES</h3>
    <hr>

     <div class="row rowspace" style = "margin-bottom: 40px;">
     <div class="col-md-2 grouptext">
    Equipo CEDIA 
    </div>    
    <div class="col-md-4">
     Ing. Josefina Siguencia <br> 
     josselin.siguencia@cedia.org.ec
       </div>
    <div class="col-md-4">
     Freddy Sumba <br> 
     freddy.sumba@cedia.org.ec
     </div>
    </div>



     <div class="row rowspace">
     <div class="col-md-2 grouptext">
    Equipo UCUENCA 
    </div>    
    <div class="col-md-4">
    Ing. Víctor Saquicela, PhD. <br>
    victor.saquicela@ucuenca.edu.ec 
    </div>
    <div class="col-md-4">
     Ing. Mauricio Espinoza, PhD. <br>
     mauricio.espinoza@ucuenca.edu.ec
     </div>
    </div>
    <div class="row rowspace">
        <div class="col-md-4  col-md-offset-2">
      Ing. Jose Luis Cullcay Mendez <br> 
      jose.cullcay@ucuenca.edu.ec
       </div>
       <div class="col-md-4">
      Ing. Jose Segarra <br> 
      jose.segarra@ucuenca.edu.ec
       </div>
    </div>
       <div class="row rowspace">
        <div class="col-md-4 col-md-offset-2">
      Ing. Jose Ortiz <br> 
       jose.ortizv@ucuenca.edu.ec
       </div>
            <div class="col-md-4">
      Xavier Sumba <br> 
      xavier.sumba93@ucuenca.ec
       </div>

    </div>




    <!--<table width="100%" border="0" cellpadding="5" cellspacing="1">
        <tbody>
            <tr style="padding: 2%" >
                <td style="padding-left: 2%" width="91%">Ing. Víctor Saquicela, PhD. </td>
            </tr>
            <tr style="padding: 2%" >
                <td style="padding-left: 2%"  bgcolor="#FFFFFF">victor.saquicela@ucuenca.edu.ec</td>
            </tr>
            <tr style="padding: 2%" >
                <td  bgcolor="#FFFFFF">&nbsp;</td>
                <td  bgcolor="#FFFFFF">&nbsp;</td>
            </tr>
            <tr style="padding: 2%" >
                <td  width="9%"><strong>Co-Director:</strong></td>
                <td style="padding-left: 2%" width="91%">Ing. Mauricio Espinoza, PhD.</td>
            </tr>
            <tr style="padding: 2%" >
                <td  bgcolor="#FFFFFF"><strong>Email:</strong></td>
                <td style="padding-left: 2%"  bgcolor="#FFFFFF">mauricio.espinoza@ucuenca.edu.ec</td>
            </tr>

            <tr style="padding: 2%" >
                <td bgcolor="#FFFFFF">&nbsp;</td>
                <td bgcolor="#FFFFFF">&nbsp;</td>
            </tr>
            <tr style="padding: 2%" >
                <td bgcolor="#FFFFFF"><strong>{{'developer'| translate}}:</strong></td>
                <td style="padding-left: 2%" bgcolor="#FFFFFF">Ing. Jose Luis Cullcay Mendez</td>
            </tr>
            <tr style="padding: 2%" >
                <td bgcolor="#FFFFFF"><strong>Email:</strong></td>
                <td style="padding-left: 2%" bgcolor="#FFFFFF">jose.cullcay@ucuenca.edu.ec</td>
            </tr>
              <tr style="padding: 2%" >
                <td bgcolor="#FFFFFF">&nbsp;</td>
                <td bgcolor="#FFFFFF">&nbsp;</td>
            </tr>
                 <tr style="padding: 2%" >
                <td bgcolor="#FFFFFF"><strong>{{'developer'| translate}}:</strong></td>
                <td style="padding-left: 2%" bgcolor="#FFFFFF">Ing. Jose Segarra</td>
            </tr>
            <tr style="padding: 2%" >
                <td bgcolor="#FFFFFF"><strong>Email:</strong></td>
                <td style="padding-left: 2%" bgcolor="#FFFFFF">jose.segarra@ucuenca.edu.ec</td>
            </tr>
              <tr style="padding: 2%" >
                <td bgcolor="#FFFFFF">&nbsp;</td>
                <td bgcolor="#FFFFFF">&nbsp;</td>
            </tr>
                 <tr style="padding: 2%" >
                <td bgcolor="#FFFFFF"><strong>{{'developer'| translate}}:</strong></td>
                <td style="padding-left: 2%" bgcolor="#FFFFFF">Ing. Jose Ortiz</td>
            </tr>
            <tr style="padding: 2%" >
                <td bgcolor="#FFFFFF"><strong>Email:</strong></td>
                <td style="padding-left: 2%" bgcolor="#FFFFFF">jose.ortizv@ucuenca.edu.ec</td>
            </tr>
            <tr style="padding: 2%" >
                <td bgcolor="#FFFFFF">&nbsp;</td>
                <td bgcolor="#FFFFFF">&nbsp;</td>
            </tr>
            <tr style="padding: 2%" >
                <td bgcolor="#FFFFFF"><strong>{{'developer'| translate}}:</strong></td>
                <td style="padding-left: 2%" bgcolor="#FFFFFF">Fernando Sumba</td>
            </tr>
            <tr style="padding: 2%" >
                <td bgcolor="#FFFFFF"><strong>Email:</strong></td>
                <td style="padding-left: 2%" bgcolor="#FFFFFF">freddy.sumba@cedia.org.ec</td>
            </tr>
            <tr style="padding: 2%" >
                <td bgcolor="#FFFFFF">&nbsp;</td>
                <td bgcolor="#FFFFFF">&nbsp;</td>
            </tr>
            <tr style="padding: 2%" >
                <td  bgcolor="#FFFFFF"><strong>{{'developer'| translate}}:</strong></td>
                <td style="padding-left: 2%"  bgcolor="#FFFFFF">Xavier Sumba</td>
            </tr>
            <tr  style="padding: 2%">
                <td bgcolor="#FFFFFF"><strong>Email:</strong></td>
                <td style="padding-left: 2%" bgcolor="#FFFFFF">xavier.sumba93@ucuenca.ec</td>
            </tr>
            <tr style="padding: 2%">
                <td bgcolor="#FFFFFF">&nbsp;</td>
                <td bgcolor="#FFFFFF">&nbsp;</td>
            </tr>
            <tr style="padding: 2%">
                <td bgcolor="#FFFFFF"><strong>{{'coordinadora'| translate}}:</strong></td>
                <td style="padding-left: 2%" bgcolor="#FFFFFF">Ing. Josefina Siguencia</td>
            </tr>
            <tr style="padding: 2%">
                <td bgcolor="#FFFFFF"><strong>Email:</strong></td>
                <td style="padding-left: 2%" bgcolor="#FFFFFF">josselin.siguencia@cedia.org.ec</td>
            </tr>
        </tbody>
    </table> -->


</div>
