
<div class="container profile" ng-controller="authorProfile"  style="margin-top: 2%;">
  <div class="row">
    <div class="col-sm-8">
    	<profile-template   ng-model='author'>      </profile-template >


       <div class="row text-center" style="margin-top: 5%;" >   
        <br>
        <button type="button"  class="prof-btn btn btn-default" ng-click="publication()"  > <img  src="/wkhome/images/publication.png"  width="40" > <span> {{"publications" | translate}} </span> </button> 
         <button type="button"  class="prof-btn btn btn-default" ng-click="tree()"  > <img  src="/wkhome/images/Tree.png"  width="56" > <span> {{"explore" | translate}} </span> </button> 
         <button type="button"  class="prof-btn btn btn-default" ng-click="network()"   > <img  src="/wkhome/images/Cluster.png"  width="40" > <span> {{"network"| translate}} </span> </button> 
         
    
      </div>

      </div>


    <div class="col-sm-4 second-panel" style="min-height: 70vh">
    	<div class="coauthor-panel text-center">
    		<font  color=#243082  > <strong> {{ "relevant.coauthor" | translate}} </strong> </font>
    	<div class="coauthor-list">   </div>	 			
      
      </div>


    </div>

   

  </div>
  
    </div>





