<h1>
    Welcome to REDI. Oauth 2.0 redirection going on, please wait a moment ... 
</h1>


<div ng-controller="sessionMg">

</div>



<script>
    function getParameterByName(name, url) {
        if (!url)
            url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
        if (!results)
            return null;
        if (!results[2])
            return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }
    if (!window.location.href.includes('#')) {
        var code = getParameterByName('code');
        var state = getParameterByName('state');
        var red = window.location.origin + "#/oauth/callback/code/" + encodeURIComponent(code) + "/state/" + encodeURIComponent(state);
        window.location.href = red;
    }
</script>
