<div ng-controller="translate" style="padding: 10%">

    <h2 style='text-align: left;'>{{'contact'| translate}}</h2>
    <hr>

    <table width="100%" border="0" cellpadding="5" cellspacing="1">
        <tbody> 
            <tr style="padding: 2%" >
                <td  width="9%"><strong>Director:</strong></td>
                <td style="padding-left: 2%" width="91%">Ing. Víctor Saquicela, PhD.</td>
            </tr>
            <tr style="padding: 2%" >
                <td   bgcolor="#FFFFFF"><strong>Email:</strong></td>
                <td style="padding-left: 2%"  bgcolor="#FFFFFF">victor.saquicela@ucuenca.edu.ec</td>
            </tr>
            <tr style="padding: 2%" >
                <td  bgcolor="#FFFFFF">&nbsp;</td>
                <td  bgcolor="#FFFFFF">&nbsp;</td>
            </tr>    
            <tr style="padding: 2%" >
                <td  width="9%"><strong>Co-Director:</strong></td>
                <td style="padding-left: 2%" width="91%">Ing. Mauricio Espinoza, PhD.</td>
            </tr>
            <tr style="padding: 2%" >
                <td  bgcolor="#FFFFFF"><strong>Email:</strong></td>
                <td style="padding-left: 2%"  bgcolor="#FFFFFF">mauricio.espinoza@ucuenca.edu.ec</td>
            </tr>

            <tr style="padding: 2%" >
                <td bgcolor="#FFFFFF">&nbsp;</td>
                <td bgcolor="#FFFFFF">&nbsp;</td>
            </tr>
            <tr style="padding: 2%" >
                <td bgcolor="#FFFFFF"><strong>Desarrollador:</strong></td>
                <td style="padding-left: 2%" bgcolor="#FFFFFF">Fernando Sumba</td>
            </tr>
            <tr style="padding: 2%" >
                <td bgcolor="#FFFFFF"><strong>Email:</strong></td>
                <td style="padding-left: 2%" bgcolor="#FFFFFF">freddy.sumbao@ucuenca.ec</td>
            </tr>
            <tr style="padding: 2%" >
                <td bgcolor="#FFFFFF">&nbsp;</td>
                <td bgcolor="#FFFFFF">&nbsp;</td>
            </tr>
            <tr style="padding: 2%" >
                <td  bgcolor="#FFFFFF"><strong>Desarrollador:</strong></td>
                <td style="padding-left: 2%"  bgcolor="#FFFFFF">Xavier Sumba</td>
            </tr>
            <tr  style="padding: 2%">
                <td bgcolor="#FFFFFF"><strong>Email:</strong></td>
                <td style="padding-left: 2%" bgcolor="#FFFFFF">xavier.sumba93@ucuenca.ec</td>
            </tr>
            <tr style="padding: 2%">
                <td bgcolor="#FFFFFF">&nbsp;</td>
                <td bgcolor="#FFFFFF">&nbsp;</td>
            </tr>
            <tr style="padding: 2%">
                <td bgcolor="#FFFFFF"><strong>Coordinadora:</strong></td>
                <td style="padding-left: 2%" bgcolor="#FFFFFF">Ing. Josefina Siguencia</td>
            </tr>
            <tr style="padding: 2%">
                <td bgcolor="#FFFFFF"><strong>Email:</strong></td>
                <td style="padding-left: 2%" bgcolor="#FFFFFF">josselin.siguencia@cedia.org.ec</td>
            </tr>
        </tbody>
    </table>
    
    <div class='col-md-12' ng-include="'/wkhome/partials/footnote.html'"/>

</div>
