<div class="credito col-md-12" style="background-color: #FFFFFF;  padding-top: 1%;">

        <center>
            <a target='blank' href="http://cedia.org.ec"><img src="../resources/logo_cedia.png" class="img-rounded" alt="Logo Cedia" style="width: 250px"></a>
        </center>
        <h6>
            <p class="text-primary" style="text-align: center; padding: 20px">
                Calle La Condamine 12-109 "Casa Rivera" <br>
                Telf. (+593) 7 4051000 Ext. 4220/4223 <br>
                info@cedia.org.ec <br>
                Cuenca- Ecuador
            </p>
        </h6>
        <hr>
        <div class="col-md-2">
            <p class="text-primary" style="font-size: 13px; text-align: center; padding: 5px">
                <strong>Con la colaboraci&oacute;n de:</strong>
            </p>
        </div>
        <div class="col-md-1">
            <center>
                <a target='blank' href="http://ucuenca.edu.ec"><img src="../resources/logo_u.png" class="img-rounded" alt="Logo Ucuenca" width="75" height="50"></a>
            </center>
        </div>
        <div class="col-md-4">
            <h6>
                <p class="text-primary" style="font-size: 10px;padding: 0px">Universidad de Cuenca</p>
                <p class="text-primary" style="font-size: 9px; text-align: left; padding: 2px">
                    Av. 12 de Abril y Agustín Cueva - Ciudadela Universitaria<br>
                    Teléfono: 593-7 405 1000 Fax: 593-7 405 1005 Casilla Postal: 01.01.168 <br>
                    centro.info@ucuenca.edu.ec <br>
                    Cuenca Ecuador <br>
                </p>
            </h6>
        </div>
        <div class="col-md-1">
            <center>
                <a target="blank" href="http://ucuenca.edu.ec/la-oferta-academica/oferta-de-grado/facultad-de-ingenieria/dptos/dcc"><img src="../resources/logo_dcc.png" class="img-rounded" alt="Logo DCC" width="75" height="50"></a>
            </center>
        </div>
        <div class="col-md-4">
            <h6>
                <p class="text-primary" style="font-size: 10px;padding: 0px">Departamento de Ciencias de la Computaci&oacute;n - UC</p>
                <p class="text-primary" style="font-size: 9px; text-align: left; padding: 2px">
                    Av. 12 de Abril y Agustín Cueva - Edificio de Laboratorios Tecnologicos 4to Piso.<br>
                    Teléfono: 593-7 405 1000 <br>
                    centro.info@ucuenca.edu.ec <br>
                    Cuenca Ecuador
                </p>
            </h6>
        </div>
        <hr>
        <p class="text-primary" style="text-align: right;font-size: 11px;">Este sitio recomienda <strong>Firefox 3.6, Google Chrome 17 ó superiores</strong> para su correcto funcionamiento.<p>
    </div>