<div class="text-primary footnote-text-format">
  <div class="row" >
    <div class="col-md-4">
      <a target='blank' href="http://cedia.org.ec"><img src="wkhome/images/logo_cedia.png" class="footnote-img-structure" alt="Logo Cedia"></a>
      <p>Calle La Condamine 12-109 "Casa Rivera" <br>
          Telf. (+593) 7 4051000 Ext. 4220/4223 <br>
          info@cedia.org.ec <br>
          Cuenca- Ecuador</p>
    </div>
    <div class="col-md-4">
      <a target='blank' href="http://ucuenca.edu.ec"><img src="wkhome/images/escudo-uc.png" class="footnote-img-structure" alt="Escudo Ucuenca"></a>
      <p>Av. 12 de Abril y Agustín Cueva - Ciudadela Universitaria<br>
          Teléfono: 593-7 405 1000 Fax: 593-7 405 1005 Casilla Postal: 01.01.168 <br>
          centro.info@ucuenca.edu.ec <br>
          Cuenca Ecuador</p>
    </div>
    <div class="col-md-4">
      <a target="blank" href="https://www.ucuenca.edu.ec/la-oferta-academica/oferta-de-grado/facultad-de-ingenieria/dptos/dcc "><img src="wkhome/images/logo_dcc.png" class="footnote-img-structure" alt="Logo DCC"></a>
      <p>Av. 12 de Abril y Agustín Cueva - Edificio de Laboratorios Tecnologicos 4to Piso.<br>
          Teléfono: 593-7 405 1000 <br>
          centro.info@ucuenca.edu.ec <br>
          Cuenca Ecuador</p>
    </div>
  </div>
  <hr style="margin: 0">
  <p class="row" style="text-align: right;">Este sitio recomienda <strong>Firefox 3.6, Google Chrome 17 ó superiores</strong> para su correcto funcionamiento.<p>
</div>
