<div class="footer-bottom">
  <div class="container-fluid">
    <div class="row" style="background-color:#0095db; color:white;" >

    <div style="float: left;margin-left: 15%;margin-top: 20px;margin-bottom: 20px;">
               <img src="wkhome/images/redcedia.png" style ="max-width:100px; max-height:100px;" >             
    </div>
    <div style="float: left;margin-top: 20px;margin-left: 10px;margin-bottom: 20px;">         
                 <h2 class="text-primary" style="color:white;" >© 2015-2019.</h2>
    </div>

    <div style="float: right;margin-top: 20px;margin-right: 25%;margin-bottom: 20px;margin-top: 20px;">    
        <a href="https://www.facebook.com/CEDIAec/">     
            <img src="wkhome/images/facebook.png" style ="max-width:100px; max-height:20px;" >
        </a>
    </div>

    <div style="float: right;margin-top: 20px;margin-right: 10px;margin-bottom: 20px;margin-top: 20px;">    
        <a href="https://twitter.com/CediaEc">     
            <img src="wkhome/images/twitter.png" style ="max-width:100px; max-height:20px;" >
        </a>
    </div>

    <div style="float: right;margin-top: 20px;margin-right: 10px;margin-bottom: 20px;margin-top: 20px;">    
        <a href="https://www.linkedin.com/in/cedia-ecuador-708151a4/">     
            <img src="wkhome/images/linkedin.png" style ="max-width:100px; max-height:20px;" >
        </a>
    </div>

    <div style="float: right;margin-top: 20px;margin-right: 10px;margin-bottom: 20px;margin-top: 20px;">    
        <a href="https://www.instagram.com/cediaec/">     
            <img src="wkhome/images/instagram.png" style ="max-width:100px; max-height:20px;" >
        </a>
    </div>

    <div style="float: right;margin-top: 20px;margin-right: 10px;margin-bottom: 20px;margin-top: 20px;">    
        <a href="https://www.youtube.com/channel/UCk4DIPllwo_VmErBacs6JBg">     
            <img src="wkhome/images/youtube.png" style ="max-width:100px; max-height:20px;" >
        </a>
    </div>

    </div>

    <div class="row" style="color:gray;" >

 <div style="margin-left: 15%;margin-top: 20px;margin-bottom: 20px;">
    <br/>
    Gonzalo Cordero 2-122 y J. Fajardo
    <br/>    
    Telf: (+593) 74079300
    <br/>    
    info@cedia.org.ec
    <br/>    
    Lunes - Viernes
    <br/>    
    De 8:00 a 13:00 y de 15:00 a 18:00
    <br/>    
</div>

    </div>

  </div>
</div>
</div>
