<div class="container-fluid" ng-controller="helpC">
    <br/>
    <h2 style='text-align: center;'> MANUAL BASICO DE REDI </h2>
    <div class="col-md-2 menuhelp">
        <div class="helpborder" >
        <h5>MENU </h5>
         <ul  >
            <li class="topclass"> <a onclick="movetoMap('sec1')"> 1. Menu principal </a></li>
            <li class="topclass">  <a onclick="movetoMap('sec2')" >2. Búsquedas </a>
                <ul > 
                    <li class="subclass"> <a onclick="movetoMap('sec2_1')"> 2.1 Búsquedas por Instituciones </a> </li>
                    <li class="subclass"> <a onclick="movetoMap('sec2_2')"> 2.2 Búsquedas de Publicaciones por Temáticas </a> </li>
                    <li class="subclass"> <a onclick="movetoMap('sec2_3')"> 2.3 Búsquedas por Investigador </a> </li>
                </ul>

            </li>
            <li class="topclass">  <a onclick="movetoMap('sec3')"> 3. Perfil investigador </a>
                <ul >
                <li class="subclass"> <a onclick="movetoMap('sec3_1')"> 3.1 Publicaciones del investigador </a> </li>
                <li class="subclass"> <a onclick="movetoMap('sec3_2')"> 3.2 Explorar</a> </li>
                <li class="subclass"> <a onclick="movetoMap('sec3_3')">3.3 Redes </a> </li>
                <li class="subclass"> <a onclick="movetoMap('sec3_4')">  3.4 Estadísticas </a> </li>
                </ul>  </li>
            <li class="topclass"><a onclick="movetoMap('sec4')"> 4. Agrupar por área de conocimiento </a> </li>
            <li class="topclass"> <a onclick="movetoMap('sec5')"> 5. Redes por área de conocimiento e investigación </a> </li>
            <li class="topclass"> <a onclick="movetoMap('sec6')"> 6. Redes de colaboración por área de investigación </a> </li>
            <li class="topclass"> <a onclick="movetoMap('sec7')"> 7. Mapa</a> </li>
            <li class="topclass"> <a onclick="movetoMap('sec8')"> 8. Estadísticas </a> </li>
         </ul>
        </div>
    </div>    
    <div class="col-md-9 helptext">
    <section id="sec1" class="secthelp">    
    <h4 >1. Menú Principal </h4>

    <p >La  página principal de REDI ofrece acceso  a la mayoría de funcionalidades que dispone la herramienta. En la parte superior se encuentra una barra de  menú que permite visitar distintas  secciones de tipo  informativas del REDI, incluyendo esta sección de Ayuda. Dentro de esta barra se dispone además la opción de cambiar de idioma a la herramienta. Actualmente, se puede mostrar la interfaz del REDI en dos idiomas, como son el inglés y español. </p>

     <div class="text-center">
     <img class ="imghelp" src="wkhome/images/ayudaicon/Idioma.png" height="" width="30%"> 
     </div>

    <p > Desde el logo de REDI, se pueden desplegar algunos menús adicionales con funcionalidades importantes de la herramienta relacionados con la  visualización de estadísticas, mapas y las agrupaciones de los investigadores por áreas de conocimiento e  investigación.  </p>

    <div class="text-center">
     <img class ="imghelp" src="wkhome/images/ayudaicon/interfazprinc.png" height="" width="80%"> 
     </div>
     

    <p>
    En la parte central de la interfaz principal se encuentra la barra de búsqueda que permite acceder a los recursos contenidos en el repositorio.
    </p>
    </section>

    <section id="sec2" class="secthelp">
     <h4>2. BUSQUEDAS </h4>
     <p>
        El repositorio semántico de investigadores del Ecuador  recopila una gran cantidad de información relacionada con el contexto de investigativo  y académico  del país. Esta información está compuesta principalmente por datos de  investigadores, instituciones, publicaciones, así como temáticas de investigación  que han sido reconocidas  a través de los datos disponibles a partir de diferentes procesos automatizados.  Esta  información puede ser fácilmente accedida a través de búsquedas en su interfaz principal. Dentro de los recursos sobre los que se pueden realizar búsquedas REDI se encuentran:
     </p>   

     <ul style="list-style-type: square; margin-left: 15px;margin: 15px;" > 
     <li> Instituciones </li>
     <li> Temáticas </li> 
     <li> Autores </li>
     </ul>

    </section>

       <section id="sec2_1" class="secthelp">
    <h4> 2.1 BÚSQUEDA  DE INSTITUCIONES </h4>
    <p> Los investigadores generalmente estan ligados a instituciones en donde se realizan o conciben distintos proyectos de investigación. Se pueden buscar estas instituciones  a trávez de su acrónonimo. Por ejemplo, UCUENCA para buscar la Universidad de Cuenca.  </p>


     <div class="text-center">
     <img class ="imghelp" src="wkhome/images/ayudaicon/bucuenca.png" height="" width="40%"> 
     </div>

    <p> Como resultado obtenemos una ficha de la institución con información resumida relacionada con sus investigadores asociados  y sus publicaciones. </p>
    <div class="text-center">
     <img class ="imghelp" src="wkhome/images/ayudaicon/ucuencastats.png" height="" width="80%"> 
     </div>


    </section>


    <section id="sec2_2" class="secthelp">
    <h4> 2.2 BÚSQUEDA DE PUBLICACIONES POR TEMÁTICAS </h4>
    <p> Dentro de REDI se cuenta con una gran base de recursos biliográficos de publicaciones de los investigadores que forman parte de REDI. Estos recursos se pueden visualizar consultando temáticas contenidas en el documento. Por ejemplo, si consultamos la palabra "Data mining".

    </p>

     <div class="text-center">
     <img class ="imghelp" src="wkhome/images/ayudaicon/kpub.png" height="" width="80%"> 
     </div>



    </section>

    <section  id="sec2_3"class="secthelp">
     <h4> 2.3 BÚSQUEDAS POR INVESTIGADOR </h4>

     <p> Uno de las recursos centrales con los que cuenta REDI son su investigadores. Para buscar un investigador en particular basta con ingresar su nombre. Es recomendable usar tanto nombres como apellidos para la obtención de resultados mas precisos. En caso de existir varias opciones de respuesta, estas se despliegan en un cuadro emergente.   </p>



     <p> Por ejemplo se puede ingresar el nombre de un investigador “Juan Pablo Carvallo”. </p>

     <div class="text-center" >
     <img class ="imghelp" src="wkhome/images/ayudaicon/busqueda.png" height="" width="50%"> 
     </div>


     <p> Se presenta un cuadro con algunas alternativas para la búsqueda. Seleccionamos, la primera opción que se acerca mas al investigador que buscamos.</p>
      
     <div class="text-center" >
     <img class ="imghelp" src="wkhome/images/ayudaicon/multprespuesta.png" height="" width="50%"> 
     </div>

      <p>El resultado nos permite encontrar el perfil de investigador con los datos más relevantes del mismo. </p>

     </section>

     <section id="sec3" class="secthelp">
     <h4> 3.  Perfil de investigador </h4>
     <p> El perfil de investigadores, presenta la información mas relevante recopilada acerca de los investigadores ecuatorianos. Dentro de los datos recopilados se encuentran los nombres, identificador ORCID, indicadores  relacionados con su producción científica, áreas de investigación  destacadas para el autor entre otras. Así también desde esta interfaz se puede acceder a diferentes otras funcionalidades del REDI. </p>

        <div class="text-center" >
     <img class ="imghelp" src="wkhome/images/ayudaicon/perfilauthor.png" height="" width="80%"> 
     </div>

     </section>
 

     <section  id="sec3_1" class="secthelp">
         <h4>3.1 PUBLICACIONES DEL INVESTIGADOR</h4>

         <p> Mediante el botón publicaciones dentro del perfil de investigador, se puede desplegar un listado de las mismas. Estas publicaciones pueden ser filtradas por diversos criterios para facilitar su exploración, tales como contribuidor, palabras clave, revistas, tipo de recurso, índice y fecha: </p>

     <div class="text-center" >
     <img class ="imghelp" src="wkhome/images/ayudaicon/publicaciones.png" height="" width="80%"> 
     </div>

      <p> Si damos click en el título de las publicaciones se puede acceder a la ficha con información básica de dicha  publicación, la cual incluye información como el título, resumen e información adicional de  autores, revistas,  fuentes y artículos relacionados. 
      </p>

      <div class="text-center" >
     <img class ="imghelp" src="wkhome/images/ayudaicon/perfilpub.PNG" height="" width="60%"> 
     </div>

        

    </section>

    <section id="sec3_2" class="secthelp"> 
        <h4> 3.2 EXPLORAR </h4>
        <p> La opción de explorar brinda acceso a la información central del  autor, además de brindar  la opción de irla recorriendo a través de recursos relacionados tales como publicaciones y otros autores. </p>
        <div class="text-center" >
        <img class ="imghelp" src="wkhome/images/ayudaicon/tree.png" height="" width="80%"> 
        </div>

    </section>


    <section id="sec3_3" class="secthelp">

        <h4> 3.3 REDES </h4>
        <p>Dentro del perfil de autores también se encuentra la opción de explorar REDES. Este graficó permite visualizar investigadores  cercanos  a un investigador base con el cual comparten intereses de investigación similares. Mientras menor es la distancia entre un investigador con otro, mayor  es la probabilidad de que trabajen en temáticas similares y que puedan generar una red de colaboración. En este gráfico se puede filtrar para que se presenten  investigadores relacionados, investigadores relacionados que son coautores así como  seleccionar miembros determinados de una organización. También se puede limitar y variar el número de  investigadores en pantalla. </p>
         <div class="text-center" >
        <img class ="imghelp" src="wkhome/images/ayudaicon/network.png" height="" width="80%"> 
        </div>

        
    </section>

    <section id="sec3_4" class="secthelp">
        <h4> 3.4 Estadísticas </h4>
    <p>La opción de estadísticas muestra un breve vistazo de  diferentes datos de interés  respecto al investigador. Estas estadísticas son generadas por   REDI en base a la cantidad de datos recopilados. Dentro de estas estadísticas por ejemplo se puede encontrar el número de publicaciones que el investigador ha producido en el tiempo, las palabras clave más empleadas en sus publicaciones y las conferencias, afiliaciones y fuentes más destacadas para el investigador. </p> 

        <div class="text-center" >
        <img class ="imghelp" src="wkhome/images/ayudaicon/estadisticas.png" height="" width="80%"> 
        </div>

    </section>

    <section  id="sec4" class="secthelp">
     <h4>4. Agrupar por área de conocimiento</h4>
     <p> En esta sección podemos visualizar las principales áreas de conocimiento de REDI ponderadas por el número de autores que trabajan en ellas. Estas áreas han sido clasificadas bajo la nomenclatura de la UNESCO y por tanto pueden ser usadas para diversos propósitos. Al escoger un área de conocimiento especifica al dar doble clic o seleccionarla en la lista desplegable se visualizan sus  áreas de investigación asociadas.</p>
        <div class="text-center" >
        <img class ="imghelp" src="wkhome/images/ayudaicon/areak.png" height="" width="80%"> 
        </div>

    </section>

    <section  class="secthelp">

    <p>En el  gráfico de ejemplo se presenta las áreas de investigación asociadas con Computer Science. Las áreas investigación representan temáticas más específicas sobre las cuales se realiza investigación. Estas áreas han sido clasificadas bajo de ontología DBpedia que ofrece mayor nivel de detalle.  </p>
    
    <div class="text-center" >
        <img class ="imghelp" src="wkhome/images/ayudaicon/areainv.png" height="" width="80%"> 
    </div>
  

    </section>

    <section id="sec5" class="secthelp"> 
        <h4>5. Redes por área de conocimiento e investigación </h4>
        <p> En esta sección se presentan a los autores de las áreas de conocimiento de REDI agrupados por sus áreas de investigación. Adicionalmente se visualiza información específica de cada autor como nombre, palabras clave y área de conocimiento. El contenido de esta gráfica puede ser descargado como un archivo PDF o Excel a través de las opciones de descarga disponibles en la parte inferior de las listas de sección. Finalmente, al seleccionar un área de investigación en específico se puede acceder a un gráfico de redes de colaboración.
        </p>

    <div class="text-center" >
        <img class ="imghelp" src="wkhome/images/ayudaicon/networkcomps.png" height="" width="80%"> 
    </div>


    </section>
    
    <section id="sec6" class="secthelp"> 
    <h4> 6. REDES DE COLABORACIÓN POR ÁREA DE INVESTIGACIÓN </h4>
    <p>En este gráfico se presentan las redes colaboración para el área de Machine Learning. Aquí se visualiza a todos los investigadores que trabajan en esta temática representando la relación de coautoría a través de una línea. Además de presentan información personal como su nombre, institución en la que trabaja y palabras clave. La información de este gráfico también puede ser descargada como PDF o Excel. Adicionalmente, para acceder directamente al perfil de estos investigadores deberemos seleccionarlos mediante doble clic. </p>

    <div class="text-center" >
    <img class ="imghelp" src="wkhome/images/ayudaicon/networkinvg.png" height="" width="80%"> 
    </div>
    </section>
    
    <section id="sec7" class="secthelp">
    <h4>7. MAPA </h4> 
    <p> REDI a traves de su sección de mapa, también permite visualizar como se desarrolla la investigación en el país  de forma geográfica. Mediante el mapa, podemos visualizar como se distribuye el número de investigadores, que trabajan en determinado tema, sobre las  diferentes regiones del país. Esto nos permite darnos una idea de los temás de investigación que predominan en ciertas regiones, ya sean ciudad o provincias, y encontrar oportunidades para solventar ciertas necesidades de investigación. Para visualizar la información basta con seleccionar un área de investigación del menu desplegable. Por ejemplo para "Computer Sciences".

        
    </p>

    <div class="text-center" >
    <img class ="imghelp" src="wkhome/images/ayudaicon/map.png" height="" width="80%"> 
    </div>
    </section>



    </section>

    <section id="sec8"class="secthelp">
        <h4>8. ESTADISTICAS </h4>
    <p> La sección de estadísticas de REDI graficos que presenta información resumida de REDI, como el número de recursos disponibles, los tipos de recursos, etc. Está dividida en dos secciones: totales generales y totales por institución. En la primera sección identificamos autores, publicaciones y áreas de conocimiento ponderadas por número de autores. En la segunda sección identificamos una lista con las instituciones miembros de REDI con el número de autores y publicaciones dispuestos en un gráfico de barras. Ambas secciones disponen de opciones de descarga que permiten guardar la información presentada como PDF o Excel. Adicionalmente, si se selecciona una institución en específico a través de un clic se puede acceder a una nueva sección con estadísticas específicas para la institución.

    </p>

       <div class="text-center" >
    <img class ="imghelp" src="wkhome/images/ayudaicon/menuestad.png" height="" width="80%"> 
    </div>
    </section>

    


    </div>

   

</div>


