<div ng-controller="translate">
    <br/>
    <br/>
    <br/>
    <h2 style='text-align: center;'>{{'help' | translate}}</h2>
    
    <a href="/wkhome/resources/Manual_Usuario_REDI.pdf" target="_blank">{{ 'Descargar Manual' | translate }}</a>
    <hr>
    <h3 style='text-align: left;'>Descripción de REDI</h3>
    <hr>
    <p>REDI (Repositorio Ecuatoriano De Investigadores) es un sistema que permite identificar áreas comunes de investigación entre una lista de autores y publicaciones de las diferentes universidades del Ecuador. Para lograr este objetivo, se ha definido una serie de paquetes que permitan: </p> 
    <ol>
        <li>La extracción de los autores por la invocación automática de los servicios que utilizan el estándar OAI-PMH1</li>
        <li>La extracción de las publicaciones de los autores de diferentes fuentes de datos</li>
        <li>La descripción semántica de los autores y sus publicaciones con respecto a modelos ontológicos</li>
        <li>La aplicación de técnicas de minería de datos (clustering) para detectar áreas comunes a través de las palabras clave, título y resumen presentes en las publicaciones.</li>
    </ol> 
    <p>En este sistema combinamos las ideas de varias iniciativas, y proponemos un nuevo sistema centrado en la identificación de áreas de investigación comunes.</p>
    <img src="wkhome/images/logo_wk.png" height="80" width="280">
    
    <br/>
    <br/>
    <h3 style='text-align: left;'>Arquitectura Back-end</h3>
    <img src="wkhome/images/marmotta_back.png" height="300" width="600">
    
    <br/>
    <br/>
    
    <h3 style='text-align: left;'>Funcionalidad</h3>
    <br/>
    <p>Entre las funcionalidades que REDI ofrece se encuentran: </p> 
    <ol>
        <li>Búsqueda de autores</li>
        <li>Navegación a través de las publicaciones del autor</li>
        <li>Soporte para consultar publicaciones de autores externos</li>
        <li>TAG CLOUD: Nube de etiquetas de áreas de investigación. El tamaño de cada nodo depende del número de publicaciones</li>
        <li>GROUP BY: Se muestran las publicaciones según la área de investigación seleccionada y se agrupan por autores</li>
    </ol>
    <hr>
    <br/>
    <br/>
    
</div>
