<!--<div id="header">
  <script>
    $('#searchType').on('change', function () {
      if (this.value == 'all') {
        $('#txtSearch').attr("placeholder", "Buscar ...");
      } else if (this.value == 'authors') {
        $('#txtSearch').attr("placeholder", "Researcher's name ...");
      } else if (this.value == 'organizations') {
        $('#txtSearch').attr("placeholder", "Organization's name ...");
      } else if (this.value == 'publications') {
        $('#txtSearch').attr("placeholder", "Publication's keywords ...");
      }
    });

    $(function () {
      $('#searchType').selectpicker();
    });

  </script>
  <form class="col-sm-12" id="searchForm" ng-controller="searchText" ng-submit="submit()">
    <div class="form-group col-sm-6 col-sm-offset-2">
      <div class="input-group input-group-lg search">
        <select id="searchType" >
          <option data-content="<span class='glyphicon glyphicon-th-large'></span>">all</option>
          <option data-content="<span class='glyphicon glyphicon-user'></span>">authors</option>
          <option data-content="<span class='glyphicon glyphicon-education'></span>">organizations</option>
          <option data-content="<span class='glyphicon glyphicon-file'></span>">publications</option>
        </select>
        <input id='txtSearch' type="text" ng-model="searchText" class="form-control" placeholder="{{'Search Author or Keyword'| translate}}...">
        <a class="input-group-addon" href="#" ng-click="submit()"><span ><i class="glyphicon glyphicon-search"></i></span></a>
      </div>
    </div>
  </form>
</div> -->

<div class="container-fluid" ng-controller="barChart">
  <section class="mainpage" id="header" > 
    <div id="myCarousel" class="carousel slide" data-ride="carousel">


      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="wkhome/images/banner-redi-final.png" alt="Los Angeles)" style="width:100%;">
        </div>

        <div class="item">
          <img src="wkhome/images/banner-redi-final.png" alt="Chicago" style="width:100%;">
        </div>

        <div class="item">
          <img src="wkhome/images/banner-redi-final.png" alt="New york" style="width:100%;">
        </div>
      </div>

      <form class="col-sm-12" id="searchForm" ng-controller="searchText" ng-submit="submit()">
        <div class="form-group col-sm-6 col-sm-offset-2">
          <div class="input-group input-group-lg search">
            <select id="searchType" class="buttonSearch">
              <!-- <option data-content="<span class='glyphicon glyphicon-th-large'></span>">all</option>
               <option data-content="<span class='glyphicon glyphicon-user'></span>">authors</option>
               <option data-content="<span class='glyphicon glyphicon-education'></span>">organizations</option>
               <option data-content="<span class='glyphicon glyphicon-file'></span>">publications</option> -->
              <option data-content="<span class='glyphicon glyphicon-th-large'></span> &nbsp Todo">all</option>
              <option data-content="<span class='glyphicon glyphicon-user'></span> &nbsp Autores">authors</option>
              <option data-content="<span class='glyphicon glyphicon-education'></span>  &nbsp Organizaciones">organizations</option>
              <option data-content="<span class='glyphicon glyphicon-file'></span>  &nbsp Publicaciones">publications</option>
            </select>
            <input id='txtSearch' type="text" ng-model="searchText" class="form-control" placeholder="{{'Search Author or Keyword'| translate}}...">
            <a class="input-group-addon" href="#" ng-click="submit()"><span ><i class="glyphicon glyphicon-search"></i></span></a>
          </div>
        </div>
      </form>
    </div>
  </section>

  <section id ="sectiontwo" class="mainpage" style="background: url(wkhome/images/banner/howitworks.jpg); background-size:cover;">
    <div style="width: 100%;position: absolute;height: 100%;" class="mfont">
      <br/>
      <br/>
      <br/>
      <div style="width: 100%;text-align: center;">
        <h1>Cómo funciona</h1>
      </div>
      <div style="width: 100%;position: absolute;height: 100%;">
        <div style="width:33.3%;float: left;display: flex;align-items: center;justify-content: center;height: 50%;vertical-align: middle;">            
          <h2 style="margin-left: 40%;" >Visualiza y promueve la investigación científica en el país.</h2>
        </div>
        <div style="width:33.3%;float: left;display: flex;align-items: center;justify-content: center;height: 80%;vertical-align: middle;">      
          <h2 style="margin-left: 20%; margin-right: 20%;" >Descubrimiento e identificación de áreas de conocimiento emergentes en el país.</h2>
        </div>
        <div style="width:33.3%;float: left;display: flex;align-items: center;justify-content: center;height: 50%;vertical-align: middle;">            
          <h2 style="margin-right: 40%;" >Formación de grupos de colaboración entre investigadores de forma interinstitucional.</h2>
        </div>
      </div>

    </div>
  </section>

  <section class="mainpage" style="background: url(wkhome/images/banner/stats.jpg); background-size:cover;color:white;" >
    <div style="width: 100%;position: absolute;height: 80%;" class="mfont">     
      <br/>
      <br/>
      <br/>
      <div style="width: 100%;text-align: center;">
        <h1>Estadisticas</h1>
      </div>

      <div style="width:33.3%;float: left;display: flex;align-items: center;justify-content: center;height: 60%;vertical-align: middle;">
        <div>            
          <h1 style="font-size:80px;">{{data.total.totalAuthors}}</h1>        
          <h2>autores</h2> 
        </div>              
      </div>
      <div style="width:33.3%;float: left;display: flex;align-items: center;justify-content: center;height: 60%;vertical-align: middle;">
        <div>            
          <h1 style="font-size:80px;">{{data.categories.length}}</h1>   
          <h2>universidades</h2>
        </div>                      
      </div>
      <div style="width:33.3%;float: left;display: flex;align-items: center;justify-content: center;height: 60%;vertical-align: middle;">
        <div>            
          <h1 style="font-size:80px;">{{data.total.totalPub}}</h1>        
          <h2>publicaciones</h2>
        </div>              
      </div>
    </div>
  </section>

  <section class="mainpage" style="min-height:30vw;">
    <br/>    
    <br/>
    <br/>
    <h1 class="mfont" style="text-align: center;">Miembros de REDI</h1>
    <br/>
    <br/>
    <br/>
    <div>    
      <span ng-repeat='org in data.categories'>
        <img src="wkhome/images/orgs/{{org}}.png" alt="{{org}}" title="{{org}}" style ='max-width:60px; max-height:60px;margin-right:20px;margin-left:20px;margin-top:20px' > 
      </span>
    </div>

  </section>
</div>