

<div id="tooltip" class="" style="opacity:0;">
    <p><strong></strong>
    </p>
    <p><span id="value"></span></p>
</div>


<div ng-controller="translate">
    <div class="container-fluid" style=" background-color: #F2F2F2" >
        <div class="row presentation">
            <div class="col-md-12">
                <div id="carousel" class="carousel slide" data-ride="carousel"  style="padding-top:50px; height: 80%">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel" data-slide-to="1"></li>
                        <li data-target="#carousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <center>
                                <img src="wkhome/images/title2.png" style="padding-top: 30px;" width="440">
                                <div class="carousel-caption">
                                    <h2 style="color: #ffffff; text-align: center;">{{'Ecuadorian Semantic Repository'| translate}}</h2>
                                </div>
                            </center>
                        </div>

                        <div class="item">
                            <center>
                                <img src="wkhome/images/network.png" style=" width: 37%;height: 10%; padding-top: 1%" class="img-rounded"/>
                                <div class="carousel-caption">
                                    <h3 style="color: #ffffff; text-align: center;" class='carousel-caption-text'>{{'Search related researchers'| translate}}</h3>
                                    <!--p>Encuentra tu equipo de trabajo de manera fácil</p-->
                                </div>
                            </center>

                        </div>
                        <div class="item">
                            <center>
                                <img src="wkhome/images/search_ec2.png" style="width: 20%;">
                                <div class="carousel-caption">
                                    <h3 style="color: #ffffff; text-align: center;" class='carousel-caption-text'>{{'Search publications'| translate}}</h3>
                                    <!--p>Encuentra tu equipo de trabajo de manera fácil</p-->
                                </div>

                            </center>
                        </div>
                    </div>

                    <!-- <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                         <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                         <span class="sr-only">Previous</span>
                     </a>
                     <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                         <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                         <span class="sr-only">Next</span>
                     </a>-->
                </div>
                <div class="col-md-12 " style="">
                    <div class="col-md-2 " >
                    </div>
                    <div class="buscador col-md-8 " >
                        <form   role="search" ng-submit="submit()" ng-controller="searchText">
                            <div  style="text-align: center">
                                <ul>
                                    <li class="li-buscador col-md-11">
                                        <input style=" border-color: #0000FF" name="searchText" ng-model="searchText" type="text" class="form-control input-lg " placeholder="{{'Search Author or Keyword'| translate}}..." >
                                    </li>
                                    <li class="li-buscador col-md-1">
                                        <input type="image"  src="wkhome/images/search_logo2.png"  style="background-color: #004D77; border-color: #FFFFFF; border-width: 10px;" alt="Buscar" class="imagesubmit"/>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-2 " >
                    </div>
                </div>
        </div>
            </div>

    <div class="home transition" >
    </div>

    <div class='row' ng-include="'/wkhome/partials/footnote.html'" style="background-color: #FFFFFF;"/>
    </div>
</div>
