<!-- MENU DESPLEGABLE -->
<nav class="navbar navbar-static-top" ng-controller="searchTextResults">
  <div class="container-fluid navbarcolor">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="navbarController" style="margin-top: 1%;margin-bottom: 2%;" >
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="wkhome/images/diseño2020/logo.png" alt="logo redi" class="img-thumbnail icon-small"><span></span><span class="caret" style="margin-left: 5px;" ></span></a>
          <ul class="dropdown-menu">
            <li ng-class="{ active: isActive('/tags/cloud') }"><a href="#/tags/cloud">{{'Clustering by Research Area'| translate | uppercase  }}</a></li>
            <li ng-class="{ active: isActive('/group/area') }"><a href="#/group/area">{{'Group By Area'| translate | uppercase  }}</a></li>
            <!-- <li ng-class="{ active: isActive('/cloud/clusters') }"><a href="#/cloud/clusters">{{'Clustering by Research Area'| translate}}</a></li> -->
            <li ng-class="{ active: isActive('/geo-views/sources') }"><a href="#/view/map">{{'Map View'| translate | uppercase  }}</a></li>
            <li role="separator" class="divider"></li>
            <li ng-class="{ active: isActive('/statistics') }"><a href="#/info/statistics">{{'Statistics'| translate | uppercase  }}</a></li>
            <!-- <li role="separator" class="divider"></li> -->
            <!-- <li ng-class="{ active: isActive('/datacube') }"><a href="#/view/datacube">{{'data_cube' | translate}}</a></li> -->
          </ul>
        </li>
        <li ng-class="{ active: isActive('/') }"><a href="#/">{{'HOME'| translate | uppercase}}</a></li>
        <li class="navdiv">|</li>
        <li ng-class="{ active: isActive('/about') }"><a href="#/info/about"> <div class="bordermenu"> {{'ABOUT'| translate | uppercase }}</div> </a></li>
         <li class="navdiv" > | </li>
        <li ng-class="{ active: isActive('/work') }"><a href="#/info/work"><div class="bordermenu">{{'WORK'| translate | uppercase }}</div></a></li>
        <li class="navdiv" > | </li>
        <li ng-class="{ active: isActive('/sources') }"><a href="#/info/sources"> <div class="bordermenu"> {{'SOURCES'| translate | uppercase }} </div> </a></li>
       <li class="navdiv" > | </li>
        <li ng-class="{ active: isActive('/help') }"><a href="#/info/help"> <div class="bordermenu">  {{'HELP'| translate | uppercase }}</div> </a></li>
         <li class="navdiv" > | </li>
        <li > <a ng-click="updateStatus()"> <div class="bordermenu"> CONTACTO </div> </a></li>
         <li class="navdiv" > | </li>
      </ul>

        <ul class="nav navbar-nav navbar-right" ng-controller="sessionMg">
            <li ng-if="loggedin()" >
                <span>
                    <img src="wkhome/images/orcid_icon.png" />Hola,<a class="login-btn-orcid" href="https://orcid.org/{{orcid}}" > {{name}} </a>,<a class="login-btn-orcid" ng-click='logout()'> Salir</a>    
                </span>
                
            </li>
            <li ng-if="!loggedin()"  >
                <a class="login-btn-orcid"
                   href="https://orcid.org/oauth/authorize?client_id={{clientId}}&response_type=code&scope=/authenticate&redirect_uri={{callback}}&state={{getState()}}"
                   > 
                    <img src="wkhome/images/orcid_icon.png" />
                    Log in with ORCID
                </a>
            </li>
        </ul>
        
      <ul class="nav navbar-nav navbar-right">
        <li id="lang_locale" ng-controller="localeController as l">
          <a ng-click="l.changeLocale(setLanguage)"><span class="flag-icon flag-icon-{{l.selectedLocaleVals.country}}"></span><span>{{l.selectedLocaleVals.language | uppercase}}</span></a>
        </li>
      </ul>
      <form class="navbar-form navbar-right" ng-submit="submit()" ng-controller="searchText" ng-hide="isHome()">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="searchText" placeholder="{{'SEARCH'| translate}}..">
        </div>
      </form>
    </div>
  </div>
</nav>
