<!-- MENU DESPLEGABLE -->
<nav class="navbar navbar-static-top" ng-controller="searchTextResults">
  <div >
    <div class="col-md-3 text-left logo-repo">

  <a href="https://redi.cedia.edu.ec/">
       <img class="img-responsive" src="/wkhome/images/diseno2020/logoredicolor.png" alt="Aquí iría el logo del repositorio" style="padding-top:15px; scale:80%">
  </a>  

    </div>
    <div class="col-md-9 icons-right">

  <a class="socialhead" href="https://www.facebook.com/CEDIAec/" target="_blank"><i class="fa fa-facebook fa-fw fa-2x" aria-hidden="true" style="padding-top: 30px;"></i></a>
        <a class="socialhead" href="https://twitter.com/CEDIAec" target="_blank"><i class="fa fa-twitter fa-fw fa-2x" aria-hidden="true" style="padding-top: 30px;"></i></a>
        <a class="socialhead" href="https://www.instagram.com/CEDIAec/" target="_blank"><i class="fa fa-instagram fa-fw fa-2x" aria-hidden="true" style="padding-top: 30px;"></i></a>
        <a class="socialhead" href="https://www.youtube.com/channel/UCk4DIPllwo_VmErBacs6JBg" target="_blank"><i class="fa fa-youtube fa-fw fa-2x" aria-hidden="true" style="padding-top: 30px;"></i></a>
    </div>
  
  <div class="col-md-12 navbarcolor">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="navbarController"  >
      <ul class="nav navbar-nav">
             <li ng-class="dropdown">
            
          <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span src="" alt="INICIO" class="img-thumbnail icon-small" style="width: 50px;">{{'HOME'| translate | uppercase}}</span><span class="caret" ></span></a>
          <ul class="dropdown-menu">
            <li ng-class="{ active: isActive('/about') }"><a href="#/info/about">{{'ABOUT'| translate | uppercase  }}</a></li>
            <li ng-class="{ active: isActive('/work') }"><a href="#/info/work">{{'WORK'| translate | uppercase  }}</a></li>
            <li ng-class="{ active: isActive('/sources') }"><a href="#/info/sources">{{'SOURCES'| translate | uppercase  }}</a></li>
            <li role="separator" class="divider"></li>
           
            <li ng-class="{ active: isActive('/geo-views/sources') }"><a href="#/view/map">{{'Map View'| translate | uppercase  }}</a></li>

            <li role="separator" class="divider"></li>
            <li ng-class="{ active: isActive('/statistics') }"><a href="#/info/statistics">{{'Statistics'| translate | uppercase  }}</a></li>
          </ul>
        </li>

        <li class="navdiv" > | </li>
         <li ng-class="dropdown">
            
          <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span src="" alt="INICIO" class="" >{{'INVESTIGADORES'| translate | uppercase}}</span>&nbsp;&nbsp;&nbsp;<span class="caret" ></span></a>
          <ul class="dropdown-menu">
            <li ng-class="{ active: isActive('/author') } "><a href="#/total/authors"> <div class="bordermenu">  LISTAR INVESTIGADORES </div> </a></li>
            <li ng-class="{ active: isActive('/tags/cloud') }"><a href="#/tags/cloud">{{'Clustering by Research Area'| translate | uppercase  }}</a></li>
            <li ng-class="{ active: isActive('/group/area') }"><a href="#/group/area">{{'Group By Area'| translate | uppercase  }}</a></li>  
          </ul>
        </li>

        <li ng-class="{ active: isActive('/pub') }"><a href="#/total/publications"> <div class="bordermenu">  PUBLICACIONES </div> </a></li>
        

        <!--<li ng-class="{ active: isActive('/author') } dropdown"><a href="#/total/authors"> <div class="bordermenu">  INVESTIGADORES <span class="caret" ></span> </div> </a>
           <ul class="dropdown-menu">
            <li ng-class="{ active: isActive('/tags/cloud') }"><a href="#/tags/cloud">{{'Clustering by Research Area'| translate | uppercase  }}</a></li>
            <li ng-class="{ active: isActive('/group/area') }"><a href="#/group/area">{{'Group By Area'| translate | uppercase  }}</a></li>  
           </ul>
        </li> -->

       


        <li class="navdiv" > | </li>

           <li ng-class="dropdown">
            
          <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span src="" alt="INICIO" class="img-thumbnail icon-small" >{{'PROYECTOS'| translate | uppercase}}</span>&nbsp;<span class="caret" ></span></a>
          <ul class="dropdown-menu">
            <li ng-class="{ active: isActive('/project') }"><a href="#/total/projects"> <div class="bordermenu">  LISTAR PROYECTOS </div> </a></li>
            <li ng-class="{ active: isActive('/project/collaborationProject') }"><a href="#/project/collaborationProject"> COLABORACIÓN INSTERINSTITUCIONAL (PROYECTOS)  </a></li>
          </ul>
        </li>


        <!--<li ng-class="{ active: isActive('/project') }"><a href="#/total/projects"> <div class="bordermenu">  PROYECTOS </div> </a></li>
        <li class="navdiv" > | </li> --> 
        <li class="navdiv" > | </li>
        <li ng-class="{ active: isActive('/organization') }"><a href="#/total/organizations"> <div class="bordermenu">  ORGANIZACIONES </div> </a></li>
        <li class="navdiv" > | </li>
        <li ng-class="{ active: isActive('/patents') }"><a href="#/total/patents"> <div class="bordermenu"> PATENTES  </div> </a></li>
        <li class="navdiv" > | </li>
        <li ng-class="{ active: isActive('/help') }"><a href="#/info/help"> <div class="bordermenu">  {{'HELP'| translate | uppercase }}</div> </a></li>
         <li class="navdiv" > | </li>
   
        <li > <a ng-click="updateStatus()"> <div class="bordermenu"> CONTACTO </div> </a></li>
         <li class="navdiv" > | </li>
      </ul>

        <ul class="nav navbar-nav navbar-right" ng-controller="sessionMg">
            <li ng-if="loggedin()" >
                <span>
                    <img src="wkhome/images/orcid_icon.png" />Hola,<a class="login-btn-orcid" href="https://orcid.org/{{orcid}}" > {{name}} </a>,<a class="login-btn-orcid" ng-click='logout()'> Salir</a>    
                </span>
                
            </li>
            <li ng-if="!loggedin()"  >
                <a class="login-btn-orcid"
                   href="https://orcid.org/oauth/authorize?client_id={{clientId}}&response_type=code&scope=/authenticate&redirect_uri={{callback}}&state={{getState()}}"
                   > 
                    <img src="wkhome/images/orcid_icon.png" />
                    Log in with ORCID
                </a>
            </li>
        </ul>
        
      <ul class="nav navbar-nav navbar-right">
        <li id="lang_locale" ng-controller="localeController as l">
          <a ng-click="l.changeLocale(setLanguage)"><span class="flag-icon flag-icon-{{l.selectedLocaleVals.country}}"></span><span>{{l.selectedLocaleVals.language | uppercase}}</span></a>
        </li>
      </ul>
     <!-- <form class="navbar-form navbar-right" ng-submit="submit()" ng-controller="searchText" ng-hide="isHome()">
        <div class="form-group" style="margin-top: 5px;">
          <input type="text" class="form-control" ng-model="searchText" placeholder="{{'SEARCH'| translate}}..">
        </div>
      </form> -->
    </div>
  </div>
</nav>
