

<div class="container" ng-controller="reportAllInst">

    <div class="title" style="text-align: center">
        <h2 class="text-primary">Reportes Generales por Institución </h2>

    </div>
    <div share-square="true" style="text-align: center" share-links="Facebook, Twitter, LinkedIn" share-title="REDI Organization - {{data.name}} "> Compartir : </div>

    <div class="row text-center"  style="margin: 30px ; background-color: #1799cc; height: 42px" > 
      <div class="col-md-3" style="border-right-style: groove; height: 100%; border-color: white;color: white;" > <b>  Autores <br>{{total.aut}}</b> </div>
      <div class="col-md-3" style="border-right-style: groove; height: 100%; border-color: white;color: white;"> <b> Publicaciones <br> {{total.pub}} </b> </div>
      <div class="col-md-3" style="border-right-style: groove; height: 100%; border-color: white;color: white;"> <b> Proyectos <br> {{total.pro}} </b>  </div>
      <div class="col-md-3" style="border-right-style: groove; height: 100%; border-color: white;color: white;">  <b> Patentes<br>  {{total.pat}} </b> </div>

    </div>



    <p>

    </p>


    <br/>

  

    <h3 class="text-primary"> Aporte de publicaciones a REDI </h3>
    <p > Para ver indicadores de una institución dar click sobre el gráfico </p>
    <div class="row report"  >
    <div class="col-md-8 container-fluid"  style='background-color: #FFFFFF;'>
         <squares-chart data="data">
     <div id="containerinst" ></div>
         </squares-chart>


    </div>
      <div class="col-md-4 container-fluid containerTable" >
            <!--<area-piechart datapc="datapc">
              <div id="containerpc" style="min-width: 200px; height: 350px; margin: 0 auto"></div>
            </area-piechart>-->
            <table-template data="data" columnstr="Nombre Inst. , Num. publicaciones" >
            
            </table-template>
      </div>
     </div>


         <div class="row report"  >
      <div class="col-md-4 container-fluid containerTable" >
          <table-template data="dataAuthors" columnstr="Nombre Inst. , Num. autores" >
            
          </table-template>
      </div>
    <div class="col-md-8 container-fluid"  style='background-color: #FFFFFF;'>
         <squares-chart data="dataAuthors">
     <div id="containerinstA" ></div>
         </squares-chart>


    </div>
  
     </div>




</div>


