

<div class="container" ng-controller="reportAuthor">

    <div class="title" style="text-align: center">
        <h2 class="text-primary">Reportes por Autor - {{data.name}}</h2>
    </div>
    <div share-square="true" style="text-align: center" share-links="Facebook, Twitter, LinkedIn" share-title="REDI Organization - {{data.name}} "> Compartir : </div>

    <div class="row text-center"  style="margin: 30px ; background-color: #1799cc; height: 42px" > 
      <div class="col-md-3" style="border-right-style: groove; height: 100%; border-color: white;color: white;" > <b>  Co-autores <br>{{data.ccau}}</b> </div>
      <div class="col-md-3" style="border-right-style: groove; height: 100%; border-color: white;color: white;"> <b> Publicaciones <br> {{data.cpub}} </b> </div>
      <div class="col-md-3" style="border-right-style: groove; height: 100%; border-color: white;color: white;"> <b> Proyectos <br> {{data.cpro}} </b>  </div>
      <div class="col-md-3" style="border-right-style: groove; height: 100%; border-color: white;color: white;">  <b> H-index<br>  {{data.hindex}} </b> </div>

    </div>



    <p>

    </p>


    <br/>

         <h3 class="text-primary">  Volumen  de publicaciones por año  <span class="glyphicon glyphicon-info-sign infoicon"  title="Número de publicaciones según el año de publicación. Se consideran todas las publicaciones que tienen registrado año de publicación en alguna de las fuentes de datos de REDI." aria-hidden="true" /></h3>
    <div class="row report"  >
    <div class="col-md-8 container-fluid "  style='background-color: #FFFFFF;'>
         <barh-chart data="dispublications">
        <div id="containerpub" ></div>
         </barh-chart>

         
    </div>

      <div class="col-md-4 container-fluid containerTable"  >
            <table-template data="topautores" columnstr="Año de publicación,Num. publicaciones">
            
            </table-template>
      </div>
 
     </div>



           <h3 class="text-primary"> Publicaciones por áreas de investigación  <span class="glyphicon glyphicon-info-sign infoicon"  title="Número de publicaciones clasificas en una área de conocimiento. El listado de áreas de conocimiento de REDI fue extraído desde DBpedia  y solamente se clasificaron publicaciones que tienen palabras clave en alguna de las fuentes de datos de REDI." aria-hidden="true" /></h3>
    <div class="row report"  >
    <div class="col-md-8 container-fluid"  style='background-color: #FFFFFF;'>
         <squares-chart data="areas">
     <div id="containerareas" ></div>
         </squares-chart>

         
    </div>
      <div class="col-md-4 container-fluid containerTable"  >
            <!--<area-piechart datapc="datapc">
              <div id="containerpc" style="min-width: 200px; height: 350px; margin: 0 auto"></div>
            </area-piechart>-->
            <table-template data="areas" columnstr="Área de conocimiento,Num. publicaciones" >
            
            </table-template>
      </div>
     </div>



       <h3 class="text-primary"> Principales fuentes de datos <span class="glyphicon glyphicon-info-sign infoicon"  title="Número de publicaciones del autor que fueron extraídas desde una fuente de datos en particular. Una publicación puede haber sido extraída desde varias fuentes y por tanto ser incluida en más de una fuente." aria-hidden="true" /> </h3>
    <div class="row report"  >
      <div class="col-md-4 container-fluid containerTable" >

          <table-template data="fuentes" columnstr="Fuente de datos,Num. publicaciones">
            
        </table-template>
     </div>
    <div class="col-md-8 container-fluid " >
         <squares-chart data="fuentes">
     <div id="containerfuentes" ></div>
         </squares-chart>

         
    </div>

     </div>





      <h3 class="text-primary"> Coautores destacados por número de publicaciones <span class="glyphicon glyphicon-info-sign infoicon"  title="Lista de coautores con el número de publicaciones que comparten con el investigador. Únicamente se presentan los 15 primeros coautores según el número de publicaciones. Los coautores que no tienen un perfil en REDI (Investigadores externos) son ignorados para la contabilización." aria-hidden="true" /> </h3>
    <div class="row report"  >
      <div class="col-md-4 container-fluid containerTable" >

          <table-template data="coautores" columnstr="Coautor,Num. publicaciones">
            
        </table-template>
     </div>
    <div class="col-md-8 container-fluid " >
         <sankey-chart data="coautoresk">
            <div id="containercoautores" ></div>
         </sankey-chart>        
    </div>

     </div>


       <h3 class="text-primary"> Impacto de publicaciones indexadas <span class="glyphicon glyphicon-info-sign infoicon"  title="Número de publicaciones según el cuartil al que pertenecen. Solamente se contabilizan las publicaciones que tienen información de sus revistas y estas tengan un registro en Scimago." aria-hidden="true" /> </h3>
    <div class="row report"  >
      <div class="col-md-4 container-fluid containerTable" >

          <table-template data="quartiles" columnstr="Cuartil,Num. publicaciones">
            
        </table-template>
     </div>
    <div class="col-md-8 container-fluid " >
         <squares-chart data="quartiles">
     <div id="containerquartiles" ></div>
         </squares-chart>

         
    </div>

     </div>



       <h3 class="text-primary"> Origen de las revistas indexadas <span class="glyphicon glyphicon-info-sign infoicon"  title="Número de publicaciones según país de origen de la revista. Solamente se contabilizan las publicaciones que tienen información de sus revistas y estas tengan un registro en Scimago." aria-hidden="true" /> </h3>
    <div class="row report"  >
      <div class="col-md-4 container-fluid containerTable" >

          <table-template data="journalsC" columnstr="País de la revista,Num. publicaciones">
            
        </table-template>
     </div>
    <div class="col-md-8 container-fluid " >
         <squares-chart data="journalsC">
     <div id="containerjournalsC" ></div>
         </squares-chart>

         
    </div>

     </div>
       
       
       


</div>

