

<div class="container" ng-controller="reportAllInst">

    <div class="title" style="text-align: center">
        <h2 class="text-primary">Reportes Generales por Institución </h2>
    </div>
    <div share-square="true" style="text-align: center" share-links="Facebook, Twitter, LinkedIn" share-title="REDI Organization - {{data.name}} "> Compartir : </div>

    <div class="row text-center"  style="margin: 30px ; background-color: #1799cc; height: 42px" > 
      <div class="col-md-3" style="border-right-style: groove; height: 100%; border-color: white;color: white;" > <b>  Autores <br>{{data.N_authors}}</b> </div>
      <div class="col-md-3" style="border-right-style: groove; height: 100%; border-color: white;color: white;"> <b> Publicaciones <br> {{data.N_publications}} </b> </div>
      <div class="col-md-3" style="border-right-style: groove; height: 100%; border-color: white;color: white;"> <b> Proyectos <br> {{data.N_projects}} </b>  </div>
      <div class="col-md-3" style="border-right-style: groove; height: 100%; border-color: white;color: white;">  <b> Patentes<br>  4 </b> </div>

    </div>



    <p>

    </p>


    <br/>

  

    <h3 class="text-primary"> Aporte de publicaciones a REDI </h3>
    <div class="row report"  >
    <div class="col-md-8 container-fluid"  style='background-color: #FFFFFF;'>
         <squares-chart data="data">
     <div id="containerinst" ></div>
         </squares-chart>


    </div>
      <div class="col-md-4 container-fluid containerTable" >
            <!--<area-piechart datapc="datapc">
              <div id="containerpc" style="min-width: 200px; height: 350px; margin: 0 auto"></div>
            </area-piechart>-->
            <table-template data="data">
            
            </table-template>
      </div>
     </div>




</div>


