<div class="container profile" ng-controller="serviceProfile" style="margin-top: 2%;">
  <div class="row">
    <div class="col-sm-8">
      <profile-templateservice ng-model='service'> </profile-templateservice>
    </div>


    <div class="col-sm-12 row text-center" style=" background-color: white;">
      <button id="pubButton" class="col-sm-4 col-sm-offset-4  prof-btn " ng-click="publication()" style="height: 9vh;">   <span> &nbsp &#9679 &nbsp Enlace </span> </button>
    </div>
  </div>
</div>
