<div class="container">
    <!-- class="authorssources" -->
    <div  >
        <br/>
        <h2 class="text-center">{{'SOURCES'| translate}}</h2>
        <br/>
        <h4> Investigadores </h4>
        <p class="ptext">
            Se recopila datos de investigadores desde diferentes fuentes de información tales como repositorios institucionales (Dspace), repositorios de revistas (OJS) o de archivos que son solicitados a las instituciones de educación superior (IES). Esto  con el afán de disponer el repositorios mas completo y detallado de investigadores a nivel nacional.  Actualmente se dispone de información de las siguientes instituciones:      
        </p>

        <br/>
        <center>
            <table ng-controller="listSources" class="authors source">
                <tr style ="background-color: #0083db; color : white ">
                    <td>IES</td>
                    <td>NOMBRE COMPLETO</td>
                    <td>CIUDAD</td>
                    <td>INVESTIGADORES</td>
                    <td>PUBLICACIONES</td>
                    <td>PROYECTOS</td>
                    <td>REPORTE DE INVESTIGADORES</td>
                </tr>
                <tr ng-repeat="source in sources">
                    <td><a href="{{ source.urlstat}}" target="_blank">{{ source.name}}</a></td>
                    <td><a href="{{ source.url}}" target="_blank">{{ source.fullName}}</a> </td>
                    <td>{{ source.city}}</td>
                    <td align="right">{{ source.totAuthors}}<a ng-if="source.empty" href="#" data-tooltip="{{'ND_SOURCES'| translate}}">N/D*</a></td>
                    <td align="right">{{ source.totPublications}}<a ng-if="source.empty" href="#" data-tooltip="{{'ND_SOURCES'| translate}}">N/D*</a></td>
                    <td align="right">{{ source.totProjects}}<a ng-if="source.empty" href="#" data-tooltip="{{'ND_SOURCES'| translate}}">N/D*</a></td>

                    <td style="text-align: center;" ng-controller="exportController">
                      <button ng-hide="loading" ng-click="exportData('pdf', 'ReportResearchersbyIES', source.name)" title="Export list of authors">
                          <img src="./resources/pdf.png" height="25" width="25" />
                      </button>
                      <img src="./resources/loading.gif" ng-show="loading" align="middle" height="20" width="20">
                    </td>
                </tr>
            </table>
        </center>
    </div>

    <hr>
      <!-- class="publicationssources" -->
    <div >
       <h4> Publicaciones </h4>


        <br/>
        <p class="source ptext">
            Para complementar la información de los investigadores se recopila datos de los resultados de investigación desde diferentes tipos de repositorios. Estos repositorios son tanto internos de la institución como OJS o externos como base de datos científicas de la web. Entre las fuentes de las cuales se toman información se encuentran:  </p>
            <ul class="ptext" style="list-style-type:disc; margin: 15px;">
                <li> Base</li>
                <li> Google Scholar </li>
                <li> Scielo </li>
                <li> entre muchas otras</li>
            </ul>     

       

        <br/>


    </div>
    <hr>
</div>

<hr>
