

<div class="container" ng-controller="statsAuthor">

    <div class="title" style="text-align: center">
        <h2 class="text-primary">Estadisticas por Autor - {{name}}</h2>
    </div>
    <p>

    </p>


    <br/>

      <div class="row"  style="margin-bottom: 10px">
    <div class="col-md-8 container-fluid"  style='background-color: #FFFFFF;'>
         <date-linechart data="data">
     <div id="containerLine" style="min-width: 310px; height: 350px; margin: 0 auto"></div>
         </date-linechart>
    </div>
     <div class="col-md-4 container-fluid" >
      <h3 class="text-center"> TOP Keywords</h3>
      <tag-canvas datacanvas="datacanvas">
        <div id="myCanvasContainer">
          <canvas width="300" height="300" id="myCanvas">
            <p>Anything in here will be replaced on browsers that support the canvas element</p>
          </canvas>
        </div>
        <div id="tags">
          <ul>
         
          </ul>
        </div>
        </tag-canvas>
      </div> 
     </div>


         <div class="row"  >
     <div class="col-sm-4">
    <ul>
      <li class="head-list">
        <font color=#243082> <strong> TOP CONFERENCIAS/REVISTAS </strong> </font>
      </li>
      <span ng-repeat="conf in topConf"><li> {{conf}} </li> </span>
    </ul>
  </div>
       <div class="col-sm-4">
    <ul>
      <li class="head-list">
        <font color=#243082> <strong> TOP AFILIACIONES </strong> </font>
      </li>
      <span ng-repeat="aff in topAff"><li> {{aff}} </li> </span>
    </ul>
  </div>
       <div class="col-sm-4">
    <ul>
      <li class="head-list">
        <font color=#243082> <strong> TOP FUENTES DE DATOS </strong> </font>
      </li>
        <span ng-repeat="prov in topProv"><li> {{prov}} </li> </span>
    </ul>
  </div>
     </div>

</div>


