<div class="container">
    <br/>
    <h2  style='text-align: center;'>{{'WORKS'| translate}}</h2>

    <div   class=" ptext" >
     <br/>
         <div  class="container-fluid" style="background-color: #FAFAFA ; padding: 5px;">
           
             <ul class="col-md-12" >
              <li style="margin-bottom: 5px"> Para que REDI pueda disponer y presentar la información relacionada con el ámbito científico e investigativo del país, se ejecutan diversas etapas: </li>
              <li class="work-item"> <b>Fuentes:</b>  REDI recopila y extrae información de diferentes Instituciones de Educación superior (IES) del Ecuador. Los datos pueden encontrarse en diversas fuentes, tales como: Repositorios  Dspace, Repositorios OJS, Archivos CSV, etc. </li>
              <li class="work-item"> <b>Extracción de autores:</b>  Se extraen información relacionada a los  autores de las fuentes mencionados, tales como nombres, afiliaciones, etc. En algunos casos de estar disponible se extraen publicaciones. </li>
              <li class="work-item"><b>Extracción de Publicaciones:</b>  Se enriquece la información de los autores consultando diversas bases de información de índole  científica tales como : Google Scholar, Microsoft Academics, Scielo, entre otros. Este paso permite extraer  publicaciones que reflejan el trabajo realizado por los investigadores. </li>
              <li class="work-item"><b>Población de Ontologías: </b>  La información obtenida es almacenada en tripletas, formato recomendado por la iniciativa que busca llegar a una nueva evaluación de la web, conocida como  web semántica. Este formato entre muchas otras características  permite conservar de forma práctica  las asociaciones entre los elementos y su referencia en la web. </li>
              <li class="work-item"><b>Detección de áreas similares:</b>   Se ejecutan algoritmos que permiten determinar áreas de conocimiento e investigación comunes entre los investigadores. Para esto se usan diferentes algoritmos que emplean tanto bases de conocimiento sintácticas (Unesco Taxonomy) como semánticas (Dbpedia). </li>
               <li class="work-item"><b>Visualización:</b>  La información es visualizada, para facilitar su lectura y exploración mediante diversos gráficos estadísticos como gráficos de barras, pastel, de grafos entre otros.  </li>
              </ul> 
              <br/>
            </div>
              <div class="text-center">
                <br/>
               <img  class="rounded" style="text-align: center;" src="wkhome/images/funcionamientoREDI.png">
               </div>
                  

    </div>
    <br/>
  


</div>
