<!doctype html>
<html lang="en" ng-app="wkhomeApp">
    <head>

        <link rel="shortcut icon" href="wkhome/images/favicon.ico">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>redi</title>
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css">

        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../bower_components/underscore/underscore-min.js"></script>
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/angular-swipe/dist/angular-swipe.min.js"></script>
        <script src="../custom_libs/angular-snapscroll.js"></script>
        <script src="../bower_components/jsonld/js/jsonld.js"></script>
        <!--<script src="../bower_components/angular-jsonld/dist/angular-jsonld.js"></script>-->
        <script src="../bower_components/restangular/dist/restangular.min.js"></script>
        <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="../bower_components/angular-route/angular-route.js"></script>
        <script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="../bower_components/angular-resource/angular-resource.js"></script>
        <script src="../bower_components/angular-translate/angular-translate.js"></script>
        <script src="../bower_components/angular-ui-bootstrap/src/pagination/pagination.js"></script>
        <script src="../bower_components/topojson/topojson.js"></script>
        <script src="../bower_components/underscore/underscore-min.js"></script>
        <script src="../bower_components/d3/d3.js"></script>
        <script src="../bower_components/d3-tip/index.js"></script>
        <script src="../custom_libs/d3-context-menu/js/d3-context-menu.js"></script>
        <script src="../custom_libs/angular-sanitize/angular-sanitize.js"></script>
        <script src="../bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="../bower_components/angular-material/angular-material.min.js"></script>
        <script src="../bower_components/angular-read-more/dist/readmore.min.js"></script>

        <!-- DESARROLLO/DEBUG -->
        <!--<link rel="stylesheet" href="wkhome/css/animations.css">
        <link rel="stylesheet" href="wkhome/css/visuals/general.css">
        <link rel="stylesheet" href="wkhome/css/visuals/home.css">
        <link rel="stylesheet" href="wkhome/css/visuals/pieChart.css">
        <link rel="stylesheet" href="wkhome/css/visuals/barChart.css">
        <link rel="stylesheet" href="wkhome/css/visuals/explorableTree.css">
        <link rel="stylesheet" href="wkhome/css/visuals/keywordsCloud.css">
        <link rel="stylesheet" href="wkhome/css/visuals/genericCloud.css" type="text/css">
        <link rel="stylesheet" href="wkhome/css/visuals/groupbyCloud.css" type="text/css">
        <link rel="stylesheet" href="wkhome/css/visuals/cloudCluster.css" type="text/css">
        <link rel="stylesheet" href="wkhome/css/visuals/chart.css">
        <link rel="stylesheet" href="wkhome/css/visuals/geoplain.css">
        <link rel="stylesheet" href="wkhome/css/visuals/map.css">
        <link rel="stylesheet" href="wkhome/css/visuals/source.css">
        <link rel="stylesheet" href="wkhome/css/visuals/lists.css">
        <link rel="stylesheet" href="wkhome/css/visuals/footnote.css">
        <link rel="stylesheet" href="wkhome/css/visuals/searchText.css">
        <link rel="stylesheet" href="wkhome/css/app.css">

        <script src="wkhome/js/app.js"></script>

        <script src="wkhome/js/controllers/controllers.js"></script>
        <script src="wkhome/js/controllers/mainBar.js"></script>
        <script src="wkhome/js/controllers/countAuthors.js"></script>
        <script src="wkhome/js/controllers/countPublications.js"></script>
        <script src="wkhome/js/controllers/countResearhAreas.js"></script>
        <script src="wkhome/js/controllers/explorableTree.js"></script>
        <script src="wkhome/js/controllers/explorableResearchArea.js"></script>
        <script src="wkhome/js/controllers/exportController.js"></script>
        <script src="wkhome/js/controllers/groupbyCloud.js"></script>
        <script src="wkhome/js/controllers/keywordsCloud.js"></script>
        <script src="wkhome/js/controllers/searchText.js"></script>
        <script src="wkhome/js/controllers/listPublications.js"></script>
        <script src="wkhome/js/controllers/genericCloud.js"></script>
        <script src="wkhome/js/controllers/map.js"></script>
        <script src="wkhome/js/controllers/clusterGroupByCloud.js"></script>
        <script src="wkhome/js/controllers/clusterKeywordsCloud.js"></script>
        <script src="wkhome/js/controllers/clustersCloud.js"></script>
        <script src="wkhome/js/controllers/translate.js"></script>
        <script src="wkhome/js/controllers/pubInfo.js"></script>
        <script src="wkhome/js/controllers/barChart.js"></script>
        <script src="wkhome/js/controllers/loadData.js"></script>
        <script src="wkhome/js/controllers/listSources.js"></script>
        <script src="wkhome/js/controllers/analytics.js"></script>
        <script src="wkhome/js/controllers/dataCube.js"></script>
        <script src="wkhome/js/controllers/publications.js"></script>
        <script src="wkhome/js/controllers/searchTextResults.js"></script>

        <script src="wkhome/js/services.js"></script>

        <script src="wkhome/js/components/waitingDialog.js"></script>
        <script src="wkhome/js/components/en.js"></script>
        <script src="wkhome/js/components/es.js"></script>
        <script src="wkhome/js/components/translation.js"></script>
        <script src="wkhome/js/components/FileSaver.js"></script>
        <script src="wkhome/js/components/stringsDistance.js"></script>
        <script src="wkhome/js/components/d3.geo.js"></script>


        <script src="wkhome/js/visuals/pieChart.js"></script>
        <script src="wkhome/js/visuals/barChart.js"></script>
        <script src="wkhome/js/visuals/explorableTree.js"></script>
        <script src="wkhome/js/visuals/keywordsCloud.js"></script>
        <script src="wkhome/js/visuals/groupbyCloud.js"></script>
        <script src="wkhome/js/visuals/clusterGroupByCloud.js"></script>
        <script src="wkhome/js/visuals/clusterKeywordsCloud.js"></script>
        <script src="wkhome/js/visuals/clustersCloud.js"></script>
        <script src="wkhome/js/visuals/genericCloud.js"></script>
        <script src="wkhome/js/visuals/map.js"></script>-->

        <!-- APP PRODUCCION -->
        <link rel="stylesheet" href="wkhome/cssmin/animations.min.css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/general.min.css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/home.min.css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/pieChart.min.css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/barChart.min.css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/explorableTree.min.css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/keywordsCloud.min.css" >
        <link rel="stylesheet" href="wkhome/cssmin/visuals/genericCloud.min.css" type="text/css" >
        <link rel="stylesheet" href="wkhome/cssmin/visuals/groupbyCloud.min.css" type="text/css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/cloudCluster.min.css" type="text/css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/chart.min.css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/geoplain.min.css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/map.min.css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/source.min.css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/lists.min.css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/footnote.min.css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/searchText.min.css">
        <link rel="stylesheet" href="wkhome/cssmin/app.min.css">

        <script src="wkhome/jsmin/app.min.js"></script>

        <script src="wkhome/jsmin/controllers/controllers.min.js"></script>
        <script src="wkhome/jsmin/controllers/mainBar.min.js"></script>
        <script src="wkhome/jsmin/controllers/countAuthors.min.js"></script>
        <script src="wkhome/jsmin/controllers/countPublications.min.js"></script>
        <script src="wkhome/jsmin/controllers/countResearhAreas.min.js"></script>
        <script src="wkhome/jsmin/controllers/explorableTree.min.js"></script>
        <script src="wkhome/jsmin/controllers/explorableResearchArea.min.js"></script>
        <script src="wkhome/jsmin/controllers/exportController.min.js"></script>
        <script src="wkhome/jsmin/controllers/groupbyCloud.min.js"></script>
        <script src="wkhome/jsmin/controllers/keywordsCloud.min.js"></script>
        <script src="wkhome/jsmin/controllers/searchText.min.js"></script>
        <script src="wkhome/jsmin/controllers/listPublications.min.js"></script>
        <script src="wkhome/jsmin/controllers/genericCloud.min.js"></script>
        <script src="wkhome/jsmin/controllers/map.min.js"></script>
        <script src="wkhome/jsmin/controllers/clusterGroupByCloud.min.js"></script>
        <script src="wkhome/jsmin/controllers/clusterKeywordsCloud.min.js"></script>
        <script src="wkhome/jsmin/controllers/clustersCloud.min.js"></script>
        <script src="wkhome/jsmin/controllers/translate.min.js"></script>
        <script src="wkhome/jsmin/controllers/pubInfo.min.js"></script>
        <script src="wkhome/jsmin/controllers/barChart.min.js"></script>
        <script src="wkhome/jsmin/controllers/loadData.min.js"></script>
        <script src="wkhome/jsmin/controllers/listSources.min.js"></script>
        <script src="wkhome/jsmin/controllers/analytics.min.js"></script>
        <script src="wkhome/jsmin/controllers/dataCube.min.js"></script>
        <script src="wkhome/jsmin/controllers/publications.min.js"></script>
        <script src="wkhome/jsmin/controllers/searchTextResults.min.js"></script>

        <script src="wkhome/jsmin/services.min.js"></script>

        <script src="wkhome/jsmin/components/waitingDialog.min.js"></script>
        <script src="wkhome/jsmin/components/en.min.js"></script>
        <script src="wkhome/jsmin/components/es.min.js"></script>
        <script src="wkhome/jsmin/components/translation.min.js"></script>
        <script src="wkhome/jsmin/components/FileSaver.min.js"></script>
        <script src="wkhome/jsmin/components/stringsDistance.min.js"></script>
        <script src="wkhome/jsmin/components/d3.geo.min.js"></script>

        <script src="wkhome/jsmin/visuals/pieChart.min.js"></script>
        <script src="wkhome/jsmin/visuals/barChart.min.js"></script>
        <script src="wkhome/jsmin/visuals/explorableTree.min.js"></script>
        <script src="wkhome/jsmin/visuals/keywordsCloud.min.js"></script>
        <script src="wkhome/jsmin/visuals/groupbyCloud.min.js"></script>
        <script src="wkhome/jsmin/visuals/clusterGroupByCloud.min.js"></script>
        <script src="wkhome/jsmin/visuals/clusterKeywordsCloud.min.js"></script>
        <script src="wkhome/jsmin/visuals/clustersCloud.min.js"></script>
        <script src="wkhome/jsmin/visuals/genericCloud.min.js"></script>
        <script src="wkhome/jsmin/visuals/map.min.js"></script>

        <!--Fin Importacion de Scripts-->

        <script type="text/javascript">
            <!--
      $(document).ready(function () {
                var mCarouselTO = setTimeout(function () {
                    $('#carousel').carousel({
                        interval: 5000,
                        cycle: true,
                    }).trigger('slide');
                }, 5000);
                var q = mCarouselTO;
            });
-->
        </script>

        <!-- For Google Analytycs -->
        <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-85166611-1', 'auto');

        // Replace the following lines with the plugins you want to use.
        ga('require', 'eventTracker');
        ga('require', 'outboundLinkTracker');
        ga('require', 'urlChangeTracker');
        // ...

        ga('send', 'pageview');
        </script>
        <script async src='https://www.google-analytics.com/analytics.js'></script>
        <script async src='bower_components/autotrack/autotrack.js'></script>
    </head>
    <body ng-controller="analytics">
        <div  ng-view class="container-fluid">

        </div>
        <div ng-controller="loadData"></div>

        <!-- <div class="view-container"> -->
        <nav class="navbar navbar-inverse navbar-fixed-top" style="opacity:1; margin-bottom:0; border:0; z-index: 0;">

            <!-- MENU DESPLEGABLE -->
            <div id="headerdesplegable">
                <!--<nav> <!-- Aqui estamos iniciando la nueva etiqueta nav -->
                <ul class="nav desplegable">
                    <li><img style="height: 45px;padding-right: 4px;" src='wkhome/images/logo_wk.png'  alt="REDI"><img style="width: 7%" src='wkhome/images/icono_menu.png'  alt="REDI">
                        <ul ng-controller="translate">
                            <li><a class="opcion" ng-click="refreshLang()" href="#/{{lang}}/">{{'Home'| translate}}</a></li>
                            <li><a class="opcion" ng-click="refreshLang()" href="#/{{lang}}/tags/cloud">{{'Keywords Cloud'| translate}}</a></li>
                            <li><a class="opcion" ng-click="refreshLang()" href="#/{{lang}}/cloud/group-by">{{'Group By Keyword'| translate}}</a></li>
                            <li><a class="opcion" ng-click="refreshLang()" href="#/{{lang}}/geo-views/sources">{{'Map View'| translate}}</a></li>
                            <li><a class="opcion" ng-click="refreshLang()" href="#/{{lang}}/cloud/clusters">{{'Clustering by Research Area'| translate}}</a></li>
                            <li><a class="opcion" ng-click="refreshLang()" href="#/{{lang}}/data/datacube">{{'data_cube' | translate}}</a></li>
                            <!--<li><a class="opcion" ng-click="refreshLang()" href="#/{{lang}}/cloud/keywords">{{'Clusters by Keyword'| translate}}</a></li>-->
                            <li><a class="opcion" ng-click="refreshLang()" href="#/{{lang}}/data/statistics">{{'Statistics'| translate}}</a></li>
                        </ul>
                    </li>
                </ul>
                <!--</nav><!-- Aqui estamos cerrando la nueva etiqueta nav -->
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" ng-controller="translate">
                    <li><a ng-click="refreshLang()" href="#/{{lang}}/">{{'home'| translate}}<span class="sr-only">(current)</span></a></li>
                    <li><a ng-click="refreshLang()" href="#/{{lang}}/info/about">{{'about'| translate}}</a></li>
                    <li><a ng-click="refreshLang()" href="#/{{lang}}/info/help">{{'help'| translate}}</a></li>
                    <li><a ng-click="refreshLang()" href="#/{{lang}}/info/contact">{{'contact'| translate}}</a></li>
                    <li><a ng-click="refreshLang()" href="#/{{lang}}/info/sources">{{'sources'| translate}}</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right" style="padding-right:0px" ng-controller="translate">
                    <li>
                        <a style="padding-top: 10px;" ng-click="setLanguage('en')">
                            <img style="height:15px" src='wkhome/images/en-icon.gif'>
                        </a>
                    </li>
                    <li>
                        <a style="padding-top: 10px;" ng-click="setLanguage('es')" >
                            <img style="height: 15px" src='wkhome/images/es-icon.gif'>
                        </a>
                    </li>
                    <form class="navbar-form navbar-left" role="search" ng-submit="submit()" ng-controller="searchText" style="padding-right: 30px; ">
                        <div class="form-group">
                            <input  name="searchText" ng-model="searchText" type="text" class="form-control input-md" placeholder="{{'Search'| translate}}..">
                        </div>
                    </form>
                </ul>
            </div>
    </nav>
<!--        Fulltext search results modal-->
            <div class="container" ng-controller="searchTextResults" >
              <div id="searchResults" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Search Results" aria-hidden="true">
                <div class="modal-dialog  modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                      <h4 class="modal-title" id="myModalLabel">{{'search results'|translate}} <small>{{candidates.length}} resultados</small></h4>
                    </div>
                    <div class="modal-body">
                      <div class="row table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>{{'name'|translate}}</th>
                              <th ng-show="showSubjects(candidates)">{{'palabras clave'|translate}}</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="candidate in candidates">
                              <!--TODO: Check why grid sys is not working -->
                              <td class="col-md-3"><a class="candidate" ng-click="selectedOption($event, candidate.path, candidate.id)" href="">{{candidate.val}}</a></td>
                              <td class="col-md-9" style="font-size: x-small">
                                <p>{{candidate.desc | uppercase}}</p>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


    <!-- <div ng-view class="view-frame"></div> -->
</body>
</html>
