<!doctype html>
<html lang="en" ng-app="wkhomeApp">
    <head>

        <link rel="shortcut icon" href="wkhome/images/favicon.ico">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>redi</title>
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="../bower_components/flag-icon-css/css/flag-icon.min.css">
        <link rel="stylesheet" href="../bower_components/fontawesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../bower_components/bootstrap-select/dist/css/bootstrap-select.css">
         <link rel="stylesheet" href="../bower_components/angular-ui-select/dist/select.css">
       
        
        <!-- Map -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script> 
        <script src="//code.highcharts.com/maps/modules/map.js"></script> 
        <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
        <script src="https://code.highcharts.com/mapdata/countries/ec/ec-all.js"></script>
        <script src="https://code.highcharts.com/mapdata/countries/cr/cr-all.js"></script>
        <!-- Map -->

        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../bower_components/underscore/underscore-min.js"></script>
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/angular-swipe/dist/angular-swipe.min.js"></script>
        <script src="../custom_libs/angular-snapscroll.js"></script>
        <script src="../custom_libs/jsPDF-1.3.2/dist/jspdf.debug.js"></script>
        <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
        <script src="../bower_components/jsonld/js/jsonld.js"></script>
        <script src="../bower_components/tagcanvas/tagcanvas.min.js"></script>
        <!--<script src="../bower_components/angular-jsonld/dist/angular-jsonld.js"></script>-->
        <script src="../bower_components/restangular/dist/restangular.min.js"></script>
        <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="../bower_components/angular-route/angular-route.js"></script>
        <script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="../bower_components/angular-resource/angular-resource.js"></script>
        <script src="../bower_components/angular-translate/angular-translate.js"></script>
        <script src="../bower_components/angular-translate-handler-log/angular-translate-handler-log.min.js"></script>
        <script src="../bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
        <script src="../bower_components/angular-ui-bootstrap/src/pagination/pagination.js"></script>
        <script src="../bower_components/angular-ui-select/dist/select.js"></script>
        <script src="../bower_components/topojson/topojson.js"></script>
        <script src="../bower_components/underscore/underscore-min.js"></script>
        <script src="../bower_components/d3/d3.js"></script>
        <script src="../bower_components/d3-tip/index.js"></script>
        <script src="../bower_components/d3-scale/index.js"></script>
        <script src="../custom_libs/d3-context-menu/js/d3-context-menu.js"></script>
        <script src="../custom_libs/angular-sanitize/angular-sanitize.js"></script>
        <script src="../bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="../bower_components/angular-material/angular-material.min.js"></script>
        <script src="../bower_components/angular-read-more/dist/readmore.min.js"></script>
        <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="../bower_components/angular-bootstrap-locale-dialog/angular-bootstrap-locale-dialog.min.js"></script>
        <script src="../bower_components/ngSolr/dist/ngsolr.js"></script>
        <script src="../bower_components//datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="../bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <script src="../bower_components/ng-cookies/dist/ng-cookies.js"></script>
        <script src="../bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
        <script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
        <script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>

        <!-- DESARROLLO/DEBUG -->
        <link rel="stylesheet" href="wkhome/css/animations.css">
        <link rel="stylesheet" href="wkhome/css/visuals/general.css">
        <link rel="stylesheet" href="wkhome/css/visuals/home.css">
        <link rel="stylesheet" href="wkhome/css/visuals/work.css">
        <link rel="stylesheet" href="wkhome/css/visuals/about.css">
        <link rel="stylesheet" href="wkhome/css/visuals/pieChart.css">
        <link rel="stylesheet" href="wkhome/css/visuals/barChart.css">
        <link rel="stylesheet" href="wkhome/css/visuals/explorableTree.css">
        <link rel="stylesheet" href="wkhome/css/visuals/keywordsCloud.css">
        <link rel="stylesheet" href="wkhome/css/visuals/genericCloud.css" type="text/css">
        <link rel="stylesheet" href="wkhome/css/visuals/relatedAuthor.css" type="text/css">
        <link rel="stylesheet" href="wkhome/css/visuals/groupbyCloud.css" type="text/css">
        <link rel="stylesheet" href="wkhome/css/visuals/cloudCluster.css" type="text/css">
        <link rel="stylesheet" href="wkhome/css/visuals/chart.css">
        <link rel="stylesheet" href="wkhome/css/visuals/geoplain.css">
        <link rel="stylesheet" href="wkhome/css/visuals/map.css">
        <link rel="stylesheet" href="wkhome/css/visuals/source.css">
        <link rel="stylesheet" href="wkhome/css/visuals/lists.css">
        <link rel="stylesheet" href="wkhome/css/visuals/footnote.css">
        <link rel="stylesheet" href="wkhome/css/visuals/searchText.css">
        <link rel="stylesheet" href="wkhome/css/visuals/navbar.css">
        <link rel="stylesheet" href="wkhome/css/visuals/publications.css">
        <link rel="stylesheet" href="wkhome/css/visuals/profile.css">
        <link rel="stylesheet" href="wkhome/css/visuals/publicationProfile.css">
        <link rel="stylesheet" href="wkhome/css/visuals/profileValidation.css">
        <link rel="stylesheet" href="wkhome/css/visuals/help.css">
        <link rel="stylesheet" href="wkhome/css/app.css">
        <link rel="stylesheet" href="wkhome/css/visuals/logging.css">

        <script src="wkhome/js/app.js"></script>

        <script src="wkhome/js/controllers/controllers.js"></script>
        <script src="wkhome/js/controllers/mainBar.js"></script>
        <script src="wkhome/js/controllers/countAuthors.js"></script>
        <script src="wkhome/js/controllers/countPublications.js"></script>
        <script src="wkhome/js/controllers/countResearhAreas.js"></script>
        <script src="wkhome/js/controllers/explorableTree.js"></script>
        <script src="wkhome/js/controllers/explorableResearchArea.js"></script>
        <script src="wkhome/js/controllers/exportController.js"></script>
        <script src="wkhome/js/controllers/groupbyCloud.js"></script>
        <script src="wkhome/js/controllers/keywordsCloud.js"></script>
        <script src="wkhome/js/controllers/searchText.js"></script>
        <script src="wkhome/js/controllers/listPublications.js"></script>
        <script src="wkhome/js/controllers/genericCloud.js"></script>
        <script src="wkhome/js/controllers/relatedAuthor.js"></script>
        <script src="wkhome/js/controllers/subClusterGraph.js"></script>
        <script src="wkhome/js/controllers/map.js"></script>
        <script src="wkhome/js/controllers/clusterGroupByCloud.js"></script>
        <script src="wkhome/js/controllers/clusterKeywordsCloud.js"></script>
        <script src="wkhome/js/controllers/clustersCloud.js"></script>
        <script src="wkhome/js/controllers/translate.js"></script>
        <script src="wkhome/js/controllers/pubInfo.js"></script>
        <script src="wkhome/js/controllers/barChart.js"></script>
        <script src="wkhome/js/controllers/statsInst.js"></script>
        <script src="wkhome/js/controllers/statsAuthor.js"></script>
        <script src="wkhome/js/controllers/loadData.js"></script>
        <script src="wkhome/js/controllers/listSources.js"></script>
        <script src="wkhome/js/controllers/analytics.js"></script>
        <script src="wkhome/js/controllers/dataCube.js"></script>
        <script src="wkhome/js/controllers/publications.js"></script>
        <script src="wkhome/js/controllers/searchTextResults.js"></script>
        <script src="wkhome/js/controllers/locale.js"></script>
        <script src="wkhome/js/controllers/navbar.js"></script>
        <script src="wkhome/js/controllers/authorProfile.js"></script>
        <script src="wkhome/js/controllers/authorVal.js"></script>
        <script src="wkhome/js/controllers/publicationProfile.js"></script>
        <script src="wkhome/js/controllers/sessionsManagement.js"></script>
        <script src="wkhome/js/controllers/helpact.js"></script>
        <script src="wkhome/js/controllers/feedback.js"></script>


        <script src="wkhome/js/services.js"></script>

        <script src="wkhome/js/components/waitingDialog.js"></script>
        <script src="wkhome/js/components/en.js"></script>
        <script src="wkhome/js/components/es.js"></script>
        <script src="wkhome/js/components/translation.js"></script>
        <script src="wkhome/js/components/FileSaver.js"></script>
        <script src="wkhome/js/components/stringsDistance.js"></script>
        <script src="wkhome/js/components/d3.geo.js"></script>
        <script src="wkhome/js/components/locals.js"></script>


        <script src="wkhome/js/visuals/pieChart.js"></script>
        <script src="wkhome/js/visuals/barChart.js"></script>
        <script src="wkhome/js/visuals/tagCloud.js"></script>
        <script src="wkhome/js/visuals/dateLinechart.js"></script>
        <script src="wkhome/js/visuals/areaPiechart.js"></script>
        <script src="wkhome/js/visuals/explorableTree.js"></script>
        <script src="wkhome/js/visuals/keywordsCloud.js"></script>
        <script src="wkhome/js/visuals/groupbyCloud.js"></script>
        <script src="wkhome/js/visuals/clusterGroupByCloud.js"></script>
        <script src="wkhome/js/visuals/clusterKeywordsCloud.js"></script>
        <script src="wkhome/js/visuals/clustersCloud.js"></script>
        <script src="wkhome/js/visuals/genericCloud.js"></script>
        <script src="wkhome/js/visuals/map.js"></script>
        <script src="wkhome/js/visuals/relatedAuthor.js"></script>
        <script src="wkhome/js/visuals/subClusterGraph.js"></script>
        <script src="wkhome/js/visuals/publication.js"></script>
        <script src="wkhome/js/visuals/authorProfile.js"></script>
        <script src="wkhome/js/visuals/modal.js"></script>

        <script src="wkhome/js/filters.js"></script>

        <!-- APP PRODUCCION -->
       <!--  <link rel="stylesheet" href="wkhome/cssmin/animations.min.css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/general.min.css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/home.min.css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/pieChart.min.css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/barChart.min.css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/explorableTree.min.css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/keywordsCloud.min.css" >
        <link rel="stylesheet" href="wkhome/cssmin/visuals/genericCloud.min.css" type="text/css" >
        <link rel="stylesheet" href="wkhome/cssmin/visuals/relatedAuthor.min.css" type="text/css" >
        <link rel="stylesheet" href="wkhome/cssmin/visuals/groupbyCloud.min.css" type="text/css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/cloudCluster.min.css" type="text/css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/chart.min.css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/geoplain.min.css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/map.min.css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/source.min.css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/lists.min.css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/footnote.min.css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/searchText.min.css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/navbar.min.css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/publications.min.css">
        <link rel="stylesheet" href="wkhome/cssmin/visuals/profile.min.css">
        <link rel="stylesheet" href="wkhome/cssmin/app.min.css">

        <script src="wkhome/jsmin/app.min.js"></script>

        <script src="wkhome/jsmin/controllers/controllers.min.js"></script>
        <script src="wkhome/jsmin/controllers/mainBar.min.js"></script>
        <script src="wkhome/jsmin/controllers/countAuthors.min.js"></script>
        <script src="wkhome/jsmin/controllers/countPublications.min.js"></script>
        <script src="wkhome/jsmin/controllers/countResearhAreas.min.js"></script>
        <script src="wkhome/jsmin/controllers/explorableTree.min.js"></script>
        <script src="wkhome/jsmin/controllers/explorableResearchArea.min.js"></script>
        <script src="wkhome/jsmin/controllers/exportController.min.js"></script>
        <script src="wkhome/jsmin/controllers/groupbyCloud.min.js"></script>
        <script src="wkhome/jsmin/controllers/keywordsCloud.min.js"></script>
        <script src="wkhome/jsmin/controllers/searchText.min.js"></script>
        <script src="wkhome/jsmin/controllers/listPublications.min.js"></script>
        <script src="wkhome/jsmin/controllers/genericCloud.min.js"></script>
        <script src="wkhome/jsmin/controllers/relatedAuthor.min.js"></script>
        <script src="wkhome/jsmin/controllers/map.min.js"></script>
        <script src="wkhome/jsmin/controllers/clusterGroupByCloud.min.js"></script>
        <script src="wkhome/jsmin/controllers/clusterKeywordsCloud.min.js"></script>
        <script src="wkhome/jsmin/controllers/clustersCloud.min.js"></script>
        <script src="wkhome/jsmin/controllers/translate.min.js"></script>
        <script src="wkhome/jsmin/controllers/pubInfo.min.js"></script>
        <script src="wkhome/jsmin/controllers/barChart.min.js"></script>
        <script src="wkhome/jsmin/controllers/loadData.min.js"></script>
        <script src="wkhome/jsmin/controllers/listSources.min.js"></script>
        <script src="wkhome/jsmin/controllers/analytics.min.js"></script>
        <script src="wkhome/jsmin/controllers/dataCube.min.js"></script>
        <script src="wkhome/jsmin/controllers/publications.min.js"></script>
        <script src="wkhome/jsmin/controllers/searchTextResults.min.js"></script>
        <script src="wkhome/jsmin/controllers/locale.min.js"></script>
        <script src="wkhome/jsmin/controllers/navbar.min.js"></script>
        <script src="wkhome/jsmin/controllers/authorProfile.min.js"></script>

        <script src="wkhome/jsmin/services.min.js"></script>

        <script src="wkhome/jsmin/components/waitingDialog.min.js"></script>
        <script src="wkhome/jsmin/components/en.min.js"></script>
        <script src="wkhome/jsmin/components/es.min.js"></script>
        <script src="wkhome/jsmin/components/translation.min.js"></script>
        <script src="wkhome/jsmin/components/FileSaver.min.js"></script>
        <script src="wkhome/jsmin/components/stringsDistance.min.js"></script>
        <script src="wkhome/jsmin/components/d3.geo.min.js"></script>
        <script src="wkhome/jsmin/components/locals.min.js"></script>

        <script src="wkhome/jsmin/visuals/pieChart.min.js"></script>
        <script src="wkhome/jsmin/visuals/barChart.min.js"></script>
        <script src="wkhome/jsmin/visuals/explorableTree.min.js"></script>
        <script src="wkhome/jsmin/visuals/keywordsCloud.min.js"></script>
        <script src="wkhome/jsmin/visuals/groupbyCloud.min.js"></script>
        <script src="wkhome/jsmin/visuals/clusterGroupByCloud.min.js"></script>
        <script src="wkhome/jsmin/visuals/clusterKeywordsCloud.min.js"></script>
        <script src="wkhome/jsmin/visuals/clustersCloud.min.js"></script>
        <script src="wkhome/jsmin/visuals/genericCloud.min.js"></script>
        <script src="wkhome/jsmin/visuals/map.min.js"></script>
        <script src="wkhome/jsmin/visuals/relatedAuthor.min.js"></script>
        <script src="wkhome/jsmin/visuals/publication.min.js"></script>
        <script src="wkhome/jsmin/visuals/authorProfile.min.js"></script>
        <script src="wkhome/jsmin/visuals/modal.min.js"></script>

        <script src="wkhome/jsmin/filters.min.js"></script> -->

        <!--Fin Importacion de Scripts-->

        <script type="text/javascript">
          <!--
      $(document).ready(function () {
            var mCarouselTO = setTimeout(function () {
              $('#carousel').carousel({
                interval: 5000,
                cycle: true,
              }).trigger('slide');
            }, 5000);
            var q = mCarouselTO;
          });
-->
</script>

        <!-- For Google Analytycs -->
<script>
          window.ga = window.ga || function () {
            (ga.q = ga.q || []).push(arguments)
          };
          ga.l = +new Date;
          ga('create', 'UA-85166611-1', 'auto');

          // Replace the following lines with the plugins you want to use.
          ga('require', 'eventTracker');
          ga('require', 'outboundLinkTracker');
          ga('require', 'urlChangeTracker');
          // ...

          ga('send', 'pageview');
        </script>
        <script async src='https://www.google-analytics.com/analytics.js'></script>
        <script async src='bower_components/autotrack/autotrack.js'></script>
    </head>
    <body ng-controller="analytics">


      <div ng-include="'/wkhome/partials/navbar.html'"></div>
      <div class="principal">
        <div ng-view></div>
        <footer ng-include="'/wkhome/partials/footnote.html'"></footer>
      </div>


      <!-- Fulltext search results modal-->
      <div class="container" ng-controller="searchTextResults" >
        <div id="searchResults" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Search Results" aria-hidden="true">
          <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4  ng-show="!getType()"  class="modal-title" id="myModalLabel">{{'SEARCH_RESULTS'|translate}} <small>{{candidates.length}} resultados</small></h4>
                <h4 ng-show="getType()" class="modal-title" id="myModalLabel"> No dispone aun un perfil asociado a REDI, a continuación se presentan algunos perfiles que podrian corresponderle :</h4>
              </div>
              <div class="modal-body">
                <div class="row table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th ng-show="getType()" > Claim  </th>
                        <th>{{'name'|translate}}</th>
                        <th ng-show="showSubjects(candidates)">{{'palabras clave'|translate}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="candidate in candidates">
                        <!-- TODO: Check why grid sys is not working -->
                     <td class="col-md-3" ng-show="getType()" ><a class="cl" ng-click="selectedOptionClaim($event, candidate.path, candidate.id)" href=""> Claim</a></td>
                     <td class="col-md-3"><a class="candidate" ng-click="selectedOption($event, candidate.path, candidate.id)" href="">{{candidate.val}}</a></td>
                     <td class="col-md-9" style="font-size: x-small">
                          <p>{{candidate.desc | uppercase}}</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  
                </div>
              </div>
                 <div ng-show="getType()" class="modal-footer">
                    Si no ha encontrado un posible perfil, cree uno nuevo  <a ng-click="selectedOptionNewProfile($event, candidate.path, candidate.id)"><b>+ añadir perfil </b></a> .
                </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Feedback modal-->
      <div class="container" ng-controller="feedbackController" >
        <div id="feedbackmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Feedback form" aria-hidden="true">
          <div class="modal-dialog  modal-md" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4  class="modal-title" id="myModalLabel">Formulario de contacto</h4>
              </div>
              <div class="modal-body">
                <div class="row table-responsive">

                    
                    <div>
                        <i style="margin-left: 15px;" >Ayudanos a mejorar REDI.</i>
                        <br/>
                    </div>
                    <div>
                        <span/>
                        <br/>
                    </div>
                    

                    <div class="col-sm-10">
                        <label for="staticEmail" class="col-form-label">* Nombre : </label>
                        <input type="text" class="form-control" ng-model="name" placeholder="Juan Perez ..." style="width: 80%;">
                    </div>   
                    <div class="col-sm-10">
                        <label for="staticEmail" class="col-form-label">* Correo : </label>
                        <input type="email" class="form-control" ng-model="email" placeholder="juan@cedia.edu.ec" style="width: 80%;">
                    </div>
                    <div class="col-sm-10">
                        <label for="staticEmail" class="col-form-label">* Tema : </label>
                        <select class="form-control" id="exampleFormControlSelect1" ng-model="topic" style="width: 80%;">
                              <option>Reportar error</option>
                              <option>Sugerencias</option>
                              <option>Otros</option>
                         </select>
                    </div>
                    <div class="col-sm-10">
                        <label for="staticEmail" class="col-form-label">* Contenido : </label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" ng-model="content" rows="3" style="width: 80%;"></textarea>
                    </div>
                    <div class="col-sm-10">
                        <label for="staticEmail" class="col-form-label">URL :</label>
                        <input id ="txURL" type="text" class="form-control" ng-model="url" placeholder="http://..." style="width: 80%;">
                    </div>
                    <div class="col-sm-10">
                      <span/>
                        <br/>
                      <label for="staticEmail" class="col-form-label">* Campos obligatorios</label>
                    </div>
                    <div class="col-sm-10">
                        <span/>
                        <br/>
                        <button type="submit" onclick="sendReport()" class="btn btn-primary">Enviar</button>
                    </div>

                </div>
              </div>
                 <div class="modal-footer">
                    Gracias por tu ayuda.
                </div>
            </div>
          </div>
        </div>
      </div>


</body>
</html>
